<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Jeremiah-O'Brien"

>
  <image imageURL="images/pampinto-side.jpg"
	thumbURL="thumbs/pampinto-side.jpg"
	linkURL="images/pampinto-side.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\pampinto-side.jpg">
    <title><![CDATA[pampinto-side]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pampinto-sign.jpg"
	thumbURL="thumbs/pampinto-sign.jpg"
	linkURL="images/pampinto-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\pampinto-sign.jpg">
    <title><![CDATA[pampinto-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pampinto-top.jpg"
	thumbURL="thumbs/pampinto-top.jpg"
	linkURL="images/pampinto-top.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\pampinto-top.jpg">
    <title><![CDATA[pampinto-top]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/panel.jpg"
	thumbURL="thumbs/panel.jpg"
	linkURL="images/panel.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\panel.jpg">
    <title><![CDATA[panel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/propeller.jpg"
	thumbURL="thumbs/propeller.jpg"
	linkURL="images/propeller.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\propeller.jpg">
    <title><![CDATA[propeller]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/radio-room.jpg"
	thumbURL="thumbs/radio-room.jpg"
	linkURL="images/radio-room.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\radio-room.jpg">
    <title><![CDATA[radio-room]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/reading-sign.jpg"
	thumbURL="thumbs/reading-sign.jpg"
	linkURL="images/reading-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\reading-sign.jpg">
    <title><![CDATA[reading-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sailboat.jpg"
	thumbURL="thumbs/sailboat.jpg"
	linkURL="images/sailboat.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\sailboat.jpg">
    <title><![CDATA[sailboat]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ship-wheel.jpg"
	thumbURL="thumbs/ship-wheel.jpg"
	linkURL="images/ship-wheel.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\ship-wheel.jpg">
    <title><![CDATA[ship-wheel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/small-boat.jpg"
	thumbURL="thumbs/small-boat.jpg"
	linkURL="images/small-boat.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\small-boat.jpg">
    <title><![CDATA[small-boat]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sub.jpg"
	thumbURL="thumbs/sub.jpg"
	linkURL="images/sub.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\sub.jpg">
    <title><![CDATA[sub]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sub2.jpg"
	thumbURL="thumbs/sub2.jpg"
	linkURL="images/sub2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\sub2.jpg">
    <title><![CDATA[sub2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/submarine.jpg"
	thumbURL="thumbs/submarine.jpg"
	linkURL="images/submarine.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\submarine.jpg">
    <title><![CDATA[submarine]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/submarine2.jpg"
	thumbURL="thumbs/submarine2.jpg"
	linkURL="images/submarine2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\submarine2.jpg">
    <title><![CDATA[submarine2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/submarine3.jpg"
	thumbURL="thumbs/submarine3.jpg"
	linkURL="images/submarine3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\submarine3.jpg">
    <title><![CDATA[submarine3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sub-top.jpg"
	thumbURL="thumbs/sub-top.jpg"
	linkURL="images/sub-top.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\sub-top.jpg">
    <title><![CDATA[sub-top]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sub-torpedo.jpg"
	thumbURL="thumbs/sub-torpedo.jpg"
	linkURL="images/sub-torpedo.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\sub-torpedo.jpg">
    <title><![CDATA[sub-torpedo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/top-sub.jpg"
	thumbURL="thumbs/top-sub.jpg"
	linkURL="images/top-sub.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\top-sub.jpg">
    <title><![CDATA[top-sub]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/torpedo.jpg"
	thumbURL="thumbs/torpedo.jpg"
	linkURL="images/torpedo.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\torpedo.jpg">
    <title><![CDATA[torpedo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/torpedo2.jpg"
	thumbURL="thumbs/torpedo2.jpg"
	linkURL="images/torpedo2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\torpedo2.jpg">
    <title><![CDATA[torpedo2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/torpedo3.jpg"
	thumbURL="thumbs/torpedo3.jpg"
	linkURL="images/torpedo3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\torpedo3.jpg">
    <title><![CDATA[torpedo3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/torpedo-room.jpg"
	thumbURL="thumbs/torpedo-room.jpg"
	linkURL="images/torpedo-room.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\torpedo-room.jpg">
    <title><![CDATA[torpedo-room]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/transamerica.jpg"
	thumbURL="thumbs/transamerica.jpg"
	linkURL="images/transamerica.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\transamerica.jpg">
    <title><![CDATA[transamerica]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/voltage.jpg"
	thumbURL="thumbs/voltage.jpg"
	linkURL="images/voltage.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\voltage.jpg">
    <title><![CDATA[voltage]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/walking.jpg"
	thumbURL="thumbs/walking.jpg"
	linkURL="images/walking.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\walking.jpg">
    <title><![CDATA[walking]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/water-reflection.jpg"
	thumbURL="thumbs/water-reflection.jpg"
	linkURL="images/water-reflection.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\water-reflection.jpg">
    <title><![CDATA[water-reflection]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian.jpg"
	thumbURL="thumbs/adrian.jpg"
	linkURL="images/adrian.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\adrian.jpg">
    <title><![CDATA[adrian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian2.jpg"
	thumbURL="thumbs/adrian2.jpg"
	linkURL="images/adrian2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\adrian2.jpg">
    <title><![CDATA[adrian2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian3.jpg"
	thumbURL="thumbs/adrian3.jpg"
	linkURL="images/adrian3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\adrian3.jpg">
    <title><![CDATA[adrian3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian-daddy.jpg"
	thumbURL="thumbs/adrian-daddy.jpg"
	linkURL="images/adrian-daddy.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\adrian-daddy.jpg">
    <title><![CDATA[adrian-daddy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian-sub.jpg"
	thumbURL="thumbs/adrian-sub.jpg"
	linkURL="images/adrian-sub.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\adrian-sub.jpg">
    <title><![CDATA[adrian-sub]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/alcatraz.jpg"
	thumbURL="thumbs/alcatraz.jpg"
	linkURL="images/alcatraz.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\alcatraz.jpg">
    <title><![CDATA[alcatraz]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/alexis2.jpg"
	thumbURL="thumbs/alexis2.jpg"
	linkURL="images/alexis2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\alexis2.jpg">
    <title><![CDATA[alexis2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/alexis-dave.jpg"
	thumbURL="thumbs/alexis-dave.jpg"
	linkURL="images/alexis-dave.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\alexis-dave.jpg">
    <title><![CDATA[alexis-dave]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/alexis-sign.jpg"
	thumbURL="thumbs/alexis-sign.jpg"
	linkURL="images/alexis-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\alexis-sign.jpg">
    <title><![CDATA[alexis-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bay-bridge-tower.jpg"
	thumbURL="thumbs/bay-bridge-tower.jpg"
	linkURL="images/bay-bridge-tower.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\bay-bridge-tower.jpg">
    <title><![CDATA[bay-bridge-tower]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bevingtons.jpg"
	thumbURL="thumbs/bevingtons.jpg"
	linkURL="images/bevingtons.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\bevingtons.jpg">
    <title><![CDATA[bevingtons]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bill-charlotte.jpg"
	thumbURL="thumbs/bill-charlotte.jpg"
	linkURL="images/bill-charlotte.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\bill-charlotte.jpg">
    <title><![CDATA[bill-charlotte]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/carc.jpg"
	thumbURL="thumbs/carc.jpg"
	linkURL="images/carc.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\carc.jpg">
    <title><![CDATA[carc]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/carc-members.jpg"
	thumbURL="thumbs/carc-members.jpg"
	linkURL="images/carc-members.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\carc-members.jpg">
    <title><![CDATA[carc-members]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/coit-tower.jpg"
	thumbURL="thumbs/coit-tower.jpg"
	linkURL="images/coit-tower.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\coit-tower.jpg">
    <title><![CDATA[coit-tower]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/daddy-adrian.jpg"
	thumbURL="thumbs/daddy-adrian.jpg"
	linkURL="images/daddy-adrian.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\daddy-adrian.jpg">
    <title><![CDATA[daddy-adrian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dave.jpg"
	thumbURL="thumbs/dave.jpg"
	linkURL="images/dave.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\dave.jpg">
    <title><![CDATA[dave]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dave-alexis.jpg"
	thumbURL="thumbs/dave-alexis.jpg"
	linkURL="images/dave-alexis.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\dave-alexis.jpg">
    <title><![CDATA[dave-alexis]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/david.jpg"
	thumbURL="thumbs/david.jpg"
	linkURL="images/david.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\david.jpg">
    <title><![CDATA[david]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine.jpg"
	thumbURL="thumbs/engine.jpg"
	linkURL="images/engine.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine.jpg">
    <title><![CDATA[engine]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine2.jpg"
	thumbURL="thumbs/engine2.jpg"
	linkURL="images/engine2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine2.jpg">
    <title><![CDATA[engine2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine3.jpg"
	thumbURL="thumbs/engine3.jpg"
	linkURL="images/engine3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine3.jpg">
    <title><![CDATA[engine3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine4.jpg"
	thumbURL="thumbs/engine4.jpg"
	linkURL="images/engine4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine4.jpg">
    <title><![CDATA[engine4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine5.jpg"
	thumbURL="thumbs/engine5.jpg"
	linkURL="images/engine5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine5.jpg">
    <title><![CDATA[engine5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine7.jpg"
	thumbURL="thumbs/engine7.jpg"
	linkURL="images/engine7.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine7.jpg">
    <title><![CDATA[engine7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine-gauges.jpg"
	thumbURL="thumbs/engine-gauges.jpg"
	linkURL="images/engine-gauges.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine-gauges.jpg">
    <title><![CDATA[engine-gauges]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine-start.jpg"
	thumbURL="thumbs/engine-start.jpg"
	linkURL="images/engine-start.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\engine-start.jpg">
    <title><![CDATA[engine-start]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/flag.jpg"
	thumbURL="thumbs/flag.jpg"
	linkURL="images/flag.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\flag.jpg">
    <title><![CDATA[flag]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank.jpg"
	thumbURL="thumbs/frank.jpg"
	linkURL="images/frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\frank.jpg">
    <title><![CDATA[frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank2.jpg"
	thumbURL="thumbs/frank2.jpg"
	linkURL="images/frank2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\frank2.jpg">
    <title><![CDATA[frank2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank-adrian-michael.jpg"
	thumbURL="thumbs/frank-adrian-michael.jpg"
	linkURL="images/frank-adrian-michael.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\frank-adrian-michael.jpg">
    <title><![CDATA[frank-adrian-michael]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank-joe-chris.jpg"
	thumbURL="thumbs/frank-joe-chris.jpg"
	linkURL="images/frank-joe-chris.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\frank-joe-chris.jpg">
    <title><![CDATA[frank-joe-chris]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank-sub.jpg"
	thumbURL="thumbs/frank-sub.jpg"
	linkURL="images/frank-sub.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\frank-sub.jpg">
    <title><![CDATA[frank-sub]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold-bell.jpg"
	thumbURL="thumbs/gold-bell.jpg"
	linkURL="images/gold-bell.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\gold-bell.jpg">
    <title><![CDATA[gold-bell]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gun.jpg"
	thumbURL="thumbs/gun.jpg"
	linkURL="images/gun.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\gun.jpg">
    <title><![CDATA[gun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hatch.jpg"
	thumbURL="thumbs/hatch.jpg"
	linkURL="images/hatch.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\hatch.jpg">
    <title><![CDATA[hatch]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inside-sub.jpg"
	thumbURL="thumbs/inside-sub.jpg"
	linkURL="images/inside-sub.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\inside-sub.jpg">
    <title><![CDATA[inside-sub]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inside-torpedo.jpg"
	thumbURL="thumbs/inside-torpedo.jpg"
	linkURL="images/inside-torpedo.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\inside-torpedo.jpg">
    <title><![CDATA[inside-torpedo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/instrument.jpg"
	thumbURL="thumbs/instrument.jpg"
	linkURL="images/instrument.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\instrument.jpg">
    <title><![CDATA[instrument]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jeremiah.jpg"
	thumbURL="thumbs/jeremiah.jpg"
	linkURL="images/jeremiah.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\jeremiah.jpg">
    <title><![CDATA[jeremiah]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jeremiah2.jpg"
	thumbURL="thumbs/jeremiah2.jpg"
	linkURL="images/jeremiah2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\jeremiah2.jpg">
    <title><![CDATA[jeremiah2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jeremiah3.jpg"
	thumbURL="thumbs/jeremiah3.jpg"
	linkURL="images/jeremiah3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\jeremiah3.jpg">
    <title><![CDATA[jeremiah3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jeremiah-life-perserve.jpg"
	thumbURL="thumbs/jeremiah-life-perserve.jpg"
	linkURL="images/jeremiah-life-perserve.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\jeremiah-life-perserve.jpg">
    <title><![CDATA[jeremiah-life-perserve]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jeremiah-sign.jpg"
	thumbURL="thumbs/jeremiah-sign.jpg"
	linkURL="images/jeremiah-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\jeremiah-sign.jpg">
    <title><![CDATA[jeremiah-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/joe-alexis-dave.jpg"
	thumbURL="thumbs/joe-alexis-dave.jpg"
	linkURL="images/joe-alexis-dave.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\joe-alexis-dave.jpg">
    <title><![CDATA[joe-alexis-dave]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/joe-bill.jpg"
	thumbURL="thumbs/joe-bill.jpg"
	linkURL="images/joe-bill.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\joe-bill.jpg">
    <title><![CDATA[joe-bill]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/joe-frank.jpg"
	thumbURL="thumbs/joe-frank.jpg"
	linkURL="images/joe-frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\joe-frank.jpg">
    <title><![CDATA[joe-frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/knobs.jpg"
	thumbURL="thumbs/knobs.jpg"
	linkURL="images/knobs.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\knobs.jpg">
    <title><![CDATA[knobs]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/lights.jpg"
	thumbURL="thumbs/lights.jpg"
	linkURL="images/lights.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\lights.jpg">
    <title><![CDATA[lights]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/michael.jpg"
	thumbURL="thumbs/michael.jpg"
	linkURL="images/michael.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\michael.jpg">
    <title><![CDATA[michael]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/michael-adrian.jpg"
	thumbURL="thumbs/michael-adrian.jpg"
	linkURL="images/michael-adrian.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\michael-adrian.jpg">
    <title><![CDATA[michael-adrian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mommy-adrian.jpg"
	thumbURL="thumbs/mommy-adrian.jpg"
	linkURL="images/mommy-adrian.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\mommy-adrian.jpg">
    <title><![CDATA[mommy-adrian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/o-brien.jpg"
	thumbURL="thumbs/o-brien.jpg"
	linkURL="images/o-brien.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\o-brien.jpg">
    <title><![CDATA[o-brien]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/o-brien-sign.jpg"
	thumbURL="thumbs/o-brien-sign.jpg"
	linkURL="images/o-brien-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\o-brien-sign.jpg">
    <title><![CDATA[o-brien-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pampanito.jpg"
	thumbURL="thumbs/pampanito.jpg"
	linkURL="images/pampanito.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\pampanito.jpg">
    <title><![CDATA[pampanito]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pampanito2.jpg"
	thumbURL="thumbs/pampanito2.jpg"
	linkURL="images/pampanito2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\pampanito2.jpg">
    <title><![CDATA[pampanito2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pampinto3.jpg"
	thumbURL="thumbs/pampinto3.jpg"
	linkURL="images/pampinto3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Jeremiah-O'Brien\pampinto3.jpg">
    <title><![CDATA[pampinto3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>