<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Red Oak Victory"

>
  <image imageURL="images/IMG_20140511_102157.jpg"
	thumbURL="thumbs/IMG_20140511_102157.jpg"
	linkURL="images/IMG_20140511_102157.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_102157.jpg">
    <title><![CDATA[IMG_20140511_102157]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_102203.jpg"
	thumbURL="thumbs/IMG_20140511_102203.jpg"
	linkURL="images/IMG_20140511_102203.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_102203.jpg">
    <title><![CDATA[IMG_20140511_102203]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_102844.jpg"
	thumbURL="thumbs/IMG_20140511_102844.jpg"
	linkURL="images/IMG_20140511_102844.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_102844.jpg">
    <title><![CDATA[IMG_20140511_102844]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_102848.jpg"
	thumbURL="thumbs/IMG_20140511_102848.jpg"
	linkURL="images/IMG_20140511_102848.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_102848.jpg">
    <title><![CDATA[IMG_20140511_102848]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_103040.jpg"
	thumbURL="thumbs/IMG_20140511_103040.jpg"
	linkURL="images/IMG_20140511_103040.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_103040.jpg">
    <title><![CDATA[IMG_20140511_103040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_103044.jpg"
	thumbURL="thumbs/IMG_20140511_103044.jpg"
	linkURL="images/IMG_20140511_103044.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_103044.jpg">
    <title><![CDATA[IMG_20140511_103044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_103319.jpg"
	thumbURL="thumbs/IMG_20140511_103319.jpg"
	linkURL="images/IMG_20140511_103319.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_103319.jpg">
    <title><![CDATA[IMG_20140511_103319]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_104406.jpg"
	thumbURL="thumbs/IMG_20140511_104406.jpg"
	linkURL="images/IMG_20140511_104406.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_104406.jpg">
    <title><![CDATA[IMG_20140511_104406]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_104542.jpg"
	thumbURL="thumbs/IMG_20140511_104542.jpg"
	linkURL="images/IMG_20140511_104542.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_104542.jpg">
    <title><![CDATA[IMG_20140511_104542]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_111030.jpg"
	thumbURL="thumbs/IMG_20140511_111030.jpg"
	linkURL="images/IMG_20140511_111030.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_111030.jpg">
    <title><![CDATA[IMG_20140511_111030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_111100.jpg"
	thumbURL="thumbs/IMG_20140511_111100.jpg"
	linkURL="images/IMG_20140511_111100.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_111100.jpg">
    <title><![CDATA[IMG_20140511_111100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_111200.jpg"
	thumbURL="thumbs/IMG_20140511_111200.jpg"
	linkURL="images/IMG_20140511_111200.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_111200.jpg">
    <title><![CDATA[IMG_20140511_111200]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_111954.jpg"
	thumbURL="thumbs/IMG_20140511_111954.jpg"
	linkURL="images/IMG_20140511_111954.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_111954.jpg">
    <title><![CDATA[IMG_20140511_111954]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_112842.jpg"
	thumbURL="thumbs/IMG_20140511_112842.jpg"
	linkURL="images/IMG_20140511_112842.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_112842.jpg">
    <title><![CDATA[IMG_20140511_112842]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_113019.jpg"
	thumbURL="thumbs/IMG_20140511_113019.jpg"
	linkURL="images/IMG_20140511_113019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_113019.jpg">
    <title><![CDATA[IMG_20140511_113019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_113024.jpg"
	thumbURL="thumbs/IMG_20140511_113024.jpg"
	linkURL="images/IMG_20140511_113024.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_113024.jpg">
    <title><![CDATA[IMG_20140511_113024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_113718.jpg"
	thumbURL="thumbs/IMG_20140511_113718.jpg"
	linkURL="images/IMG_20140511_113718.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_113718.jpg">
    <title><![CDATA[IMG_20140511_113718]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_113731.jpg"
	thumbURL="thumbs/IMG_20140511_113731.jpg"
	linkURL="images/IMG_20140511_113731.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_113731.jpg">
    <title><![CDATA[IMG_20140511_113731]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PANO_20140511_101029.jpg"
	thumbURL="thumbs/PANO_20140511_101029.jpg"
	linkURL="images/PANO_20140511_101029.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\PANO_20140511_101029.jpg">
    <title><![CDATA[PANO_20140511_101029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PANO_20140511_113026.jpg"
	thumbURL="thumbs/PANO_20140511_113026.jpg"
	linkURL="images/PANO_20140511_113026.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\PANO_20140511_113026.jpg">
    <title><![CDATA[PANO_20140511_113026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Red Oak Victory 5-2014 001.jpg"
	thumbURL="thumbs/Red Oak Victory 5-2014 001.jpg"
	linkURL="images/Red Oak Victory 5-2014 001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\Red Oak Victory 5-2014 001.JPG">
    <title><![CDATA[Red Oak Victory 5-2014 001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Red Oak Victory 5-2014 003.jpg"
	thumbURL="thumbs/Red Oak Victory 5-2014 003.jpg"
	linkURL="images/Red Oak Victory 5-2014 003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\Red Oak Victory 5-2014 003.JPG">
    <title><![CDATA[Red Oak Victory 5-2014 003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Red Oak Victory 5-2014 009.jpg"
	thumbURL="thumbs/Red Oak Victory 5-2014 009.jpg"
	linkURL="images/Red Oak Victory 5-2014 009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\Red Oak Victory 5-2014 009.JPG">
    <title><![CDATA[Red Oak Victory 5-2014 009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Red Oak Victory 5-2014 015.jpg"
	thumbURL="thumbs/Red Oak Victory 5-2014 015.jpg"
	linkURL="images/Red Oak Victory 5-2014 015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\Red Oak Victory 5-2014 015.JPG">
    <title><![CDATA[Red Oak Victory 5-2014 015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_091650.jpg"
	thumbURL="thumbs/IMG_20140511_091650.jpg"
	linkURL="images/IMG_20140511_091650.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_091650.jpg">
    <title><![CDATA[IMG_20140511_091650]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_102108.jpg"
	thumbURL="thumbs/IMG_20140511_102108.jpg"
	linkURL="images/IMG_20140511_102108.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_102108.jpg">
    <title><![CDATA[IMG_20140511_102108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20140511_102132.jpg"
	thumbURL="thumbs/IMG_20140511_102132.jpg"
	linkURL="images/IMG_20140511_102132.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Red-Oak-Victory\IMG_20140511_102132.jpg">
    <title><![CDATA[IMG_20140511_102132]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>