<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/20220625_001.jpg"
	thumbURL="thumbs/20220625_001.jpg"
	linkURL="images/20220625_001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_001.jpg"

>
    <title><![CDATA[20220625_001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_002.jpg"
	thumbURL="thumbs/20220625_002.jpg"
	linkURL="images/20220625_002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_002.jpg">
    <title><![CDATA[20220625_002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_003.jpg"
	thumbURL="thumbs/20220625_003.jpg"
	linkURL="images/20220625_003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_003.jpg">
    <title><![CDATA[20220625_003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_004.jpg"
	thumbURL="thumbs/20220625_004.jpg"
	linkURL="images/20220625_004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_004.jpg">
    <title><![CDATA[20220625_004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_005.jpg"
	thumbURL="thumbs/20220625_005.jpg"
	linkURL="images/20220625_005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_005.jpg">
    <title><![CDATA[20220625_005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_006.jpg"
	thumbURL="thumbs/20220625_006.jpg"
	linkURL="images/20220625_006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_006.jpg">
    <title><![CDATA[20220625_006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_007.jpg"
	thumbURL="thumbs/20220625_007.jpg"
	linkURL="images/20220625_007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_007.jpg">
    <title><![CDATA[20220625_007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_008.jpg"
	thumbURL="thumbs/20220625_008.jpg"
	linkURL="images/20220625_008.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_008.jpg">
    <title><![CDATA[20220625_008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_009.jpg"
	thumbURL="thumbs/20220625_009.jpg"
	linkURL="images/20220625_009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_009.jpg">
    <title><![CDATA[20220625_009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_010.jpg"
	thumbURL="thumbs/20220625_010.jpg"
	linkURL="images/20220625_010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_010.jpg">
    <title><![CDATA[20220625_010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_011.jpg"
	thumbURL="thumbs/20220625_011.jpg"
	linkURL="images/20220625_011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_011.jpg">
    <title><![CDATA[20220625_011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_012.jpg"
	thumbURL="thumbs/20220625_012.jpg"
	linkURL="images/20220625_012.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_012.jpg">
    <title><![CDATA[20220625_012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_013.jpg"
	thumbURL="thumbs/20220625_013.jpg"
	linkURL="images/20220625_013.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_013.jpg">
    <title><![CDATA[20220625_013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_014.jpg"
	thumbURL="thumbs/20220625_014.jpg"
	linkURL="images/20220625_014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_014.jpg">
    <title><![CDATA[20220625_014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_015.jpg"
	thumbURL="thumbs/20220625_015.jpg"
	linkURL="images/20220625_015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_015.jpg">
    <title><![CDATA[20220625_015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_016.jpg"
	thumbURL="thumbs/20220625_016.jpg"
	linkURL="images/20220625_016.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_016.jpg">
    <title><![CDATA[20220625_016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_017.jpg"
	thumbURL="thumbs/20220625_017.jpg"
	linkURL="images/20220625_017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_017.jpg">
    <title><![CDATA[20220625_017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_018.jpg"
	thumbURL="thumbs/20220625_018.jpg"
	linkURL="images/20220625_018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_018.jpg">
    <title><![CDATA[20220625_018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_019.jpg"
	thumbURL="thumbs/20220625_019.jpg"
	linkURL="images/20220625_019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_019.jpg">
    <title><![CDATA[20220625_019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_020.jpg"
	thumbURL="thumbs/20220625_020.jpg"
	linkURL="images/20220625_020.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_020.jpg">
    <title><![CDATA[20220625_020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_021.jpg"
	thumbURL="thumbs/20220625_021.jpg"
	linkURL="images/20220625_021.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_021.jpg">
    <title><![CDATA[20220625_021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_022.jpg"
	thumbURL="thumbs/20220625_022.jpg"
	linkURL="images/20220625_022.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_022.jpg">
    <title><![CDATA[20220625_022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_023.jpg"
	thumbURL="thumbs/20220625_023.jpg"
	linkURL="images/20220625_023.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_023.jpg">
    <title><![CDATA[20220625_023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_024.jpg"
	thumbURL="thumbs/20220625_024.jpg"
	linkURL="images/20220625_024.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_024.jpg">
    <title><![CDATA[20220625_024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_025.jpg"
	thumbURL="thumbs/20220625_025.jpg"
	linkURL="images/20220625_025.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_025.jpg">
    <title><![CDATA[20220625_025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_026.jpg"
	thumbURL="thumbs/20220625_026.jpg"
	linkURL="images/20220625_026.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_026.jpg">
    <title><![CDATA[20220625_026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_027.jpg"
	thumbURL="thumbs/20220625_027.jpg"
	linkURL="images/20220625_027.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_027.jpg">
    <title><![CDATA[20220625_027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_028.jpg"
	thumbURL="thumbs/20220625_028.jpg"
	linkURL="images/20220625_028.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_028.jpg">
    <title><![CDATA[20220625_028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_029.jpg"
	thumbURL="thumbs/20220625_029.jpg"
	linkURL="images/20220625_029.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_029.jpg">
    <title><![CDATA[20220625_029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_030.jpg"
	thumbURL="thumbs/20220625_030.jpg"
	linkURL="images/20220625_030.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_030.jpg">
    <title><![CDATA[20220625_030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_031.jpg"
	thumbURL="thumbs/20220625_031.jpg"
	linkURL="images/20220625_031.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_031.jpg">
    <title><![CDATA[20220625_031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_032.jpg"
	thumbURL="thumbs/20220625_032.jpg"
	linkURL="images/20220625_032.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_032.jpg">
    <title><![CDATA[20220625_032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_033.jpg"
	thumbURL="thumbs/20220625_033.jpg"
	linkURL="images/20220625_033.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_033.jpg">
    <title><![CDATA[20220625_033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_034.jpg"
	thumbURL="thumbs/20220625_034.jpg"
	linkURL="images/20220625_034.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_034.jpg">
    <title><![CDATA[20220625_034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_035.jpg"
	thumbURL="thumbs/20220625_035.jpg"
	linkURL="images/20220625_035.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_035.jpg">
    <title><![CDATA[20220625_035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_036.jpg"
	thumbURL="thumbs/20220625_036.jpg"
	linkURL="images/20220625_036.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_036.jpg">
    <title><![CDATA[20220625_036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_037.jpg"
	thumbURL="thumbs/20220625_037.jpg"
	linkURL="images/20220625_037.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_037.jpg">
    <title><![CDATA[20220625_037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_038.jpg"
	thumbURL="thumbs/20220625_038.jpg"
	linkURL="images/20220625_038.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_038.jpg">
    <title><![CDATA[20220625_038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_039.jpg"
	thumbURL="thumbs/20220625_039.jpg"
	linkURL="images/20220625_039.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_039.jpg">
    <title><![CDATA[20220625_039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_040.jpg"
	thumbURL="thumbs/20220625_040.jpg"
	linkURL="images/20220625_040.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_040.jpg">
    <title><![CDATA[20220625_040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_041.jpg"
	thumbURL="thumbs/20220625_041.jpg"
	linkURL="images/20220625_041.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_041.jpg">
    <title><![CDATA[20220625_041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_042.jpg"
	thumbURL="thumbs/20220625_042.jpg"
	linkURL="images/20220625_042.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_042.jpg">
    <title><![CDATA[20220625_042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_043.jpg"
	thumbURL="thumbs/20220625_043.jpg"
	linkURL="images/20220625_043.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_043.jpg">
    <title><![CDATA[20220625_043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220625_044.jpg"
	thumbURL="thumbs/20220625_044.jpg"
	linkURL="images/20220625_044.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220625_044.jpg">
    <title><![CDATA[20220625_044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20220626_001.jpg"
	thumbURL="thumbs/20220626_001.jpg"
	linkURL="images/20220626_001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\JuiceBox\20220626_001.jpg">
    <title><![CDATA[20220626_001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>