body {
  left: 45px;
}

table, th, td
{
  /* border: 2px dotted red;
  border-collapse: collapse; */
  vertical-align: top;
}

.leftcol {
  width: 210px;
  padding: 20px;
}

.rightcol {
  width: 590px;
  padding: 20px;
  font-size: 1.1em;
}

#baers_holder {
  background-color: #3399ff;
  width: 230px;
  height: 75px;
  padding: 4px;
  border: 1px solid #3399ff;
}
