/* All below the line 100 were added in late november to what existed
   in AppFormPaymentDB.css which was above the line. The file needs
   to be cleaned up to remove redundancy and unused definitions */

  .input {
    font-size: smaller;
    color: var(--main-text-color);
    text-align: right;
  }

  td.alignleft, p.alignleft, div.alignleft, alignleft {
    text-align: left;
  }

  td.alignright, p.alignright, div.alignright, alignright {
    text-align: right;
  }



  #altButton{
    background-color: var(--paypal-gold-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: larger;


}

  #primary, #family, #subtotal, #checked, #optional, #paypal, #club, #total, 
  #NowTime, #repeater, #digipeater, .checkbox, .yrcontainer
  td > label {
    text-align:right;
    padding: 0;
    margin: 0;
    color: var(--main-text-color);
  }

  #checked, #repeater, #digipeater {
    background-color: lightblue;
  }

  #formtable {
    margin-left: auto;
    margin-right: auto;
  }

  .leftcol,.ltestbox,.checkbox {
    background-color: inherit;
    padding: 20px;
    margin: 20px;
    font-size: 12px;
  }

  .rightcol,.rtestbox {
    /* background-color: rgb(255, 224, 250); */
    background-color: yellowgreen;
    padding: 20px;
    margin: 20px;
    font-size: 12px;
  }

  .tbody > tr > td > div {
      text-align: left;
  }

/* All below this line were added in late november to what existed
   in AppFormPaymentDB.css which was above the line. The file needs
   to be cleaned up to remove redundancy and unused definitions */
  

  table, th, td {
        border: 1px dashed green;
        border-collapse: collapse;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
  }

  #tabl {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    border-collapse: collapse;
  }

  #tabl  tbody td {
  border: 1.5px solid #ddd;
  padding: 4px;
  }

  #tabl tbody tr:nth-child(even){background-color: #f2f2f2;}

  #tabl tbody tr:hover {background-color: #ddd;}

  #tabl thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .btn {
    background-color: RGB(255,196,58); /* paypal yellow */
    color: blue;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }

  .wrapper {
      display: grid;
      gap: 10px;
      padding: 20px;
      width: 723px;
  }

  .header, .leftcol, .submit, .rdystat, .respcode, .formdata,
  .jsonout, .response, .footer, .verify, .maintext {
      text-align: center;  
  }



  .header {
      grid-column: 1/5;
      grid-row: 1/2;
  } 

  .leftcol {
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: left;
      margin: 3px;
  }

  .details {
      grid-column: 2/5;
      grid-row: 2/3;
  }

  
  .submit {
      grid-column: 1/5;
      grid-row: 3/4;
      height: 0.5in;
      text-align: center;
      vertical-align: middle;
      /* background-color: RGB(255,196,58); */
  }

  .footer {
    grid-column: 1/5;
    grid-row: 4/5;
  }

  #tcontain, #tab1 {
      padding: 10px;
  }
  /* All this formatting from verifivation example */


  html {
      font-family: sans-serif;
  }

  div > #table1 > .verify {
      border-collapse: collapse;
      border: 2px solid rgb(200,200,200);
      letter-spacing: 0px;
      font-size: 11px;
  }

  div > #table1 > .verify > td, #table1 th {
      border: 1px solid rgb(150,150,150);
      padding: 2px;
  }

  div > #table1 > .verify> thead > caption {
    padding: 20px;
    font-size: 14px;
    background-color: 'yellow';
  }

  div > #table1 > .verify > thead tr {
      background-color: rgb(13, 153, 90);
  }

  div > #table1 > .verify > tbody > tr {
      text-align: center;
  }

  div > #table1 > .verify > tbody > tr:nth-child(even) {
      background-color: rgb(255,250,250);
  }

  div > #table1 > .verify > tbody > tr:nth-child(odd) {
      background-color: rgb(245,250,245);
  }

