<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field Day 2006"

>
  <image imageURL="images/foggy-landscape.jpg"
	thumbURL="thumbs/foggy-landscape.jpg"
	linkURL="images/foggy-landscape.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\foggy-landscape.jpg">
    <title><![CDATA[foggy-landscape]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank.jpg"
	thumbURL="thumbs/frank.jpg"
	linkURL="images/frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\frank.jpg">
    <title><![CDATA[frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank-dave.jpg"
	thumbURL="thumbs/frank-dave.jpg"
	linkURL="images/frank-dave.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\frank-dave.jpg">
    <title><![CDATA[frank-dave]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank-michael.jpg"
	thumbURL="thumbs/frank-michael.jpg"
	linkURL="images/frank-michael.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\frank-michael.jpg">
    <title><![CDATA[frank-michael]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/michael.jpg"
	thumbURL="thumbs/michael.jpg"
	linkURL="images/michael.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\michael.jpg">
    <title><![CDATA[michael]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/michael-2.jpg"
	thumbURL="thumbs/michael-2.jpg"
	linkURL="images/michael-2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\michael-2.jpg">
    <title><![CDATA[michael-2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mike.jpg"
	thumbURL="thumbs/mike.jpg"
	linkURL="images/mike.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\mike.jpg">
    <title><![CDATA[mike]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/putting-antenna-up.jpg"
	thumbURL="thumbs/putting-antenna-up.jpg"
	linkURL="images/putting-antenna-up.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\putting-antenna-up.jpg">
    <title><![CDATA[putting-antenna-up]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/securing-antenna.jpg"
	thumbURL="thumbs/securing-antenna.jpg"
	linkURL="images/securing-antenna.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\securing-antenna.jpg">
    <title><![CDATA[securing-antenna]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sunset.jpg"
	thumbURL="thumbs/sunset.jpg"
	linkURL="images/sunset.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\sunset.jpg">
    <title><![CDATA[sunset]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tow-sign.jpg"
	thumbURL="thumbs/tow-sign.jpg"
	linkURL="images/tow-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\tow-sign.jpg">
    <title><![CDATA[tow-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/trailer.jpg"
	thumbURL="thumbs/trailer.jpg"
	linkURL="images/trailer.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\trailer.jpg">
    <title><![CDATA[trailer]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna.jpg"
	thumbURL="thumbs/antenna.jpg"
	linkURL="images/antenna.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\antenna.jpg">
    <title><![CDATA[antenna]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna-2.jpg"
	thumbURL="thumbs/antenna-2.jpg"
	linkURL="images/antenna-2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\antenna-2.jpg">
    <title><![CDATA[antenna-2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna-3.jpg"
	thumbURL="thumbs/antenna-3.jpg"
	linkURL="images/antenna-3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\antenna-3.jpg">
    <title><![CDATA[antenna-3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna-4.jpg"
	thumbURL="thumbs/antenna-4.jpg"
	linkURL="images/antenna-4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\antenna-4.jpg">
    <title><![CDATA[antenna-4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna-setup.jpg"
	thumbURL="thumbs/antenna-setup.jpg"
	linkURL="images/antenna-setup.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\antenna-setup.jpg">
    <title><![CDATA[antenna-setup]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna-wire.jpg"
	thumbURL="thumbs/antenna-wire.jpg"
	linkURL="images/antenna-wire.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\antenna-wire.jpg">
    <title><![CDATA[antenna-wire]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/david.jpg"
	thumbURL="thumbs/david.jpg"
	linkURL="images/david.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2006\david.jpg">
    <title><![CDATA[david]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>