<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/transmitter.jpg"
	thumbURL="thumbs/transmitter.jpg"
	linkURL="images/transmitter.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\transmitter.jpg"

>
    <title><![CDATA[transmitter]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/transmitter2.jpg"
	thumbURL="thumbs/transmitter2.jpg"
	linkURL="images/transmitter2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\transmitter2.jpg">
    <title><![CDATA[transmitter2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/transmitter3.jpg"
	thumbURL="thumbs/transmitter3.jpg"
	linkURL="images/transmitter3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\transmitter3.jpg">
    <title><![CDATA[transmitter3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bill.jpg"
	thumbURL="thumbs/bill.jpg"
	linkURL="images/bill.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\bill.jpg">
    <title><![CDATA[bill]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/carc-gang.jpg"
	thumbURL="thumbs/carc-gang.jpg"
	linkURL="images/carc-gang.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\carc-gang.jpg">
    <title><![CDATA[carc-gang]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/chris.jpg"
	thumbURL="thumbs/chris.jpg"
	linkURL="images/chris.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\chris.jpg">
    <title><![CDATA[chris]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frank.jpg"
	thumbURL="thumbs/frank.jpg"
	linkURL="images/frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\frank.jpg">
    <title><![CDATA[frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frontierland-sign.jpg"
	thumbURL="thumbs/frontierland-sign.jpg"
	linkURL="images/frontierland-sign.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\frontierland-sign.jpg">
    <title><![CDATA[frontierland-sign]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/roger.jpg"
	thumbURL="thumbs/roger.jpg"
	linkURL="images/roger.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\roger.jpg">
    <title><![CDATA[roger]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/t-hunting.jpg"
	thumbURL="thumbs/t-hunting.jpg"
	linkURL="images/t-hunting.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Transmitter-Hunt-2006\t-hunting.jpg">
    <title><![CDATA[t-hunting]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>