<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/lightbulb.jpg"
	thumbURL="thumbs/lightbulb.jpg"
	linkURL="images/lightbulb.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\lightbulb.jpg"

>
    <title><![CDATA[lightbulb]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ralph.jpg"
	thumbURL="thumbs/ralph.jpg"
	linkURL="images/ralph.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\ralph.jpg">
    <title><![CDATA[ralph]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ralph_2.jpg"
	thumbURL="thumbs/ralph_2.jpg"
	linkURL="images/ralph_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\ralph_2.jpg">
    <title><![CDATA[ralph_2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ralph_3.jpg"
	thumbURL="thumbs/ralph_3.jpg"
	linkURL="images/ralph_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\ralph_3.jpg">
    <title><![CDATA[ralph_3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ralph_4.jpg"
	thumbURL="thumbs/ralph_4.jpg"
	linkURL="images/ralph_4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\ralph_4.jpg">
    <title><![CDATA[ralph_4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ralph_frank.jpg"
	thumbURL="thumbs/ralph_frank.jpg"
	linkURL="images/ralph_frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\ralph_frank.jpg">
    <title><![CDATA[ralph_frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/roger_frank.jpg"
	thumbURL="thumbs/roger_frank.jpg"
	linkURL="images/roger_frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\roger_frank.jpg">
    <title><![CDATA[roger_frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/white_box.jpg"
	thumbURL="thumbs/white_box.jpg"
	linkURL="images/white_box.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\white_box.jpg">
    <title><![CDATA[white_box]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/back_box.jpg"
	thumbURL="thumbs/back_box.jpg"
	linkURL="images/back_box.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\back_box.jpg">
    <title><![CDATA[back_box]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bill.jpg"
	thumbURL="thumbs/bill.jpg"
	linkURL="images/bill.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\bill.jpg">
    <title><![CDATA[bill]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bill_bruce.jpg"
	thumbURL="thumbs/bill_bruce.jpg"
	linkURL="images/bill_bruce.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\bill_bruce.jpg">
    <title><![CDATA[bill_bruce]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/box.jpg"
	thumbURL="thumbs/box.jpg"
	linkURL="images/box.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\box.jpg">
    <title><![CDATA[box]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bruce.jpg"
	thumbURL="thumbs/bruce.jpg"
	linkURL="images/bruce.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\bruce.jpg">
    <title><![CDATA[bruce]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/club_memebers.jpg"
	thumbURL="thumbs/club_memebers.jpg"
	linkURL="images/club_memebers.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\club_memebers.jpg">
    <title><![CDATA[club_memebers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inside_box.jpg"
	thumbURL="thumbs/inside_box.jpg"
	linkURL="images/inside_box.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Genentech-Meeting\inside_box.jpg">
    <title><![CDATA[inside_box]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>