<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field Day 2007"

>
  <image imageURL="images/Field Day 2007-05.jpg"
	thumbURL="thumbs/Field Day 2007-05.jpg"
	linkURL="images/Field Day 2007-05.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-05.JPG">
    <title><![CDATA[Field Day 2007-05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-06.jpg"
	thumbURL="thumbs/Field Day 2007-06.jpg"
	linkURL="images/Field Day 2007-06.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-06.JPG">
    <title><![CDATA[Field Day 2007-06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-07.jpg"
	thumbURL="thumbs/Field Day 2007-07.jpg"
	linkURL="images/Field Day 2007-07.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-07.JPG">
    <title><![CDATA[Field Day 2007-07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-08.jpg"
	thumbURL="thumbs/Field Day 2007-08.jpg"
	linkURL="images/Field Day 2007-08.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-08.JPG">
    <title><![CDATA[Field Day 2007-08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-09.jpg"
	thumbURL="thumbs/Field Day 2007-09.jpg"
	linkURL="images/Field Day 2007-09.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-09.JPG">
    <title><![CDATA[Field Day 2007-09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-10.jpg"
	thumbURL="thumbs/Field Day 2007-10.jpg"
	linkURL="images/Field Day 2007-10.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-10.JPG">
    <title><![CDATA[Field Day 2007-10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-11.jpg"
	thumbURL="thumbs/Field Day 2007-11.jpg"
	linkURL="images/Field Day 2007-11.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-11.JPG">
    <title><![CDATA[Field Day 2007-11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-12.jpg"
	thumbURL="thumbs/Field Day 2007-12.jpg"
	linkURL="images/Field Day 2007-12.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-12.JPG">
    <title><![CDATA[Field Day 2007-12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-13.jpg"
	thumbURL="thumbs/Field Day 2007-13.jpg"
	linkURL="images/Field Day 2007-13.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-13.JPG">
    <title><![CDATA[Field Day 2007-13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-14.jpg"
	thumbURL="thumbs/Field Day 2007-14.jpg"
	linkURL="images/Field Day 2007-14.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-14.JPG">
    <title><![CDATA[Field Day 2007-14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-15.jpg"
	thumbURL="thumbs/Field Day 2007-15.jpg"
	linkURL="images/Field Day 2007-15.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-15.JPG">
    <title><![CDATA[Field Day 2007-15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-16.jpg"
	thumbURL="thumbs/Field Day 2007-16.jpg"
	linkURL="images/Field Day 2007-16.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-16.JPG">
    <title><![CDATA[Field Day 2007-16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-17.jpg"
	thumbURL="thumbs/Field Day 2007-17.jpg"
	linkURL="images/Field Day 2007-17.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-17.JPG">
    <title><![CDATA[Field Day 2007-17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-18.jpg"
	thumbURL="thumbs/Field Day 2007-18.jpg"
	linkURL="images/Field Day 2007-18.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-18.JPG">
    <title><![CDATA[Field Day 2007-18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-19.jpg"
	thumbURL="thumbs/Field Day 2007-19.jpg"
	linkURL="images/Field Day 2007-19.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-19.JPG">
    <title><![CDATA[Field Day 2007-19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-20.jpg"
	thumbURL="thumbs/Field Day 2007-20.jpg"
	linkURL="images/Field Day 2007-20.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-20.JPG">
    <title><![CDATA[Field Day 2007-20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-21.jpg"
	thumbURL="thumbs/Field Day 2007-21.jpg"
	linkURL="images/Field Day 2007-21.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-21.JPG">
    <title><![CDATA[Field Day 2007-21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-22.jpg"
	thumbURL="thumbs/Field Day 2007-22.jpg"
	linkURL="images/Field Day 2007-22.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-22.JPG">
    <title><![CDATA[Field Day 2007-22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-23.jpg"
	thumbURL="thumbs/Field Day 2007-23.jpg"
	linkURL="images/Field Day 2007-23.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-23.JPG">
    <title><![CDATA[Field Day 2007-23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-24.jpg"
	thumbURL="thumbs/Field Day 2007-24.jpg"
	linkURL="images/Field Day 2007-24.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-24.JPG">
    <title><![CDATA[Field Day 2007-24]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-01.jpg"
	thumbURL="thumbs/Field Day 2007-01.jpg"
	linkURL="images/Field Day 2007-01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-01.JPG">
    <title><![CDATA[Field Day 2007-01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-01a.jpg"
	thumbURL="thumbs/Field Day 2007-01a.jpg"
	linkURL="images/Field Day 2007-01a.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-01a.jpg">
    <title><![CDATA[Field Day 2007-01a]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-02.jpg"
	thumbURL="thumbs/Field Day 2007-02.jpg"
	linkURL="images/Field Day 2007-02.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-02.JPG">
    <title><![CDATA[Field Day 2007-02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-03.jpg"
	thumbURL="thumbs/Field Day 2007-03.jpg"
	linkURL="images/Field Day 2007-03.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-03.JPG">
    <title><![CDATA[Field Day 2007-03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Field Day 2007-04.jpg"
	thumbURL="thumbs/Field Day 2007-04.jpg"
	linkURL="images/Field Day 2007-04.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2007\Field Day 2007-04.JPG">
    <title><![CDATA[Field Day 2007-04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>