<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field Day 2002"

>
  <image imageURL="images/frankanddave_f.jpg"
	thumbURL="thumbs/frankanddave_f.jpg"
	linkURL="images/frankanddave_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\frankanddave_f.jpg">
    <title><![CDATA[frankanddave_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/generator_f.jpg"
	thumbURL="thumbs/generator_f.jpg"
	linkURL="images/generator_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\generator_f.jpg">
    <title><![CDATA[generator_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/generatorrunning_f.jpg"
	thumbURL="thumbs/generatorrunning_f.jpg"
	linkURL="images/generatorrunning_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\generatorrunning_f.jpg">
    <title><![CDATA[generatorrunning_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hookingupgenerator_f.jpg"
	thumbURL="thumbs/hookingupgenerator_f.jpg"
	linkURL="images/hookingupgenerator_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\hookingupgenerator_f.jpg">
    <title><![CDATA[hookingupgenerator_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mikeandmike_f.jpg"
	thumbURL="thumbs/mikeandmike_f.jpg"
	linkURL="images/mikeandmike_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\mikeandmike_f.jpg">
    <title><![CDATA[mikeandmike_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/puttingupantenna_f.jpg"
	thumbURL="thumbs/puttingupantenna_f.jpg"
	linkURL="images/puttingupantenna_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\puttingupantenna_f.jpg">
    <title><![CDATA[puttingupantenna_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/puttinguptent_f.jpg"
	thumbURL="thumbs/puttinguptent_f.jpg"
	linkURL="images/puttinguptent_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\puttinguptent_f.jpg">
    <title><![CDATA[puttinguptent_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rogeranddave_f.jpg"
	thumbURL="thumbs/rogeranddave_f.jpg"
	linkURL="images/rogeranddave_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\rogeranddave_f.jpg">
    <title><![CDATA[rogeranddave_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/securingantenna_f.jpg"
	thumbURL="thumbs/securingantenna_f.jpg"
	linkURL="images/securingantenna_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\securingantenna_f.jpg">
    <title><![CDATA[securingantenna_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tent_f.jpg"
	thumbURL="thumbs/tent_f.jpg"
	linkURL="images/tent_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\tent_f.jpg">
    <title><![CDATA[tent_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tentup_f.jpg"
	thumbURL="thumbs/tentup_f.jpg"
	linkURL="images/tentup_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\tentup_f.jpg">
    <title><![CDATA[tentup_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antenna_f.jpg"
	thumbURL="thumbs/antenna_f.jpg"
	linkURL="images/antenna_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\antenna_f.jpg">
    <title><![CDATA[antenna_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/antennaup_f.jpg"
	thumbURL="thumbs/antennaup_f.jpg"
	linkURL="images/antennaup_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\antennaup_f.jpg">
    <title><![CDATA[antennaup_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/barbara_f.jpg"
	thumbURL="thumbs/barbara_f.jpg"
	linkURL="images/barbara_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\barbara_f.jpg">
    <title><![CDATA[barbara_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/barbaratent_f.jpg"
	thumbURL="thumbs/barbaratent_f.jpg"
	linkURL="images/barbaratent_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\barbaratent_f.jpg">
    <title><![CDATA[barbaratent_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/billanddavejpg_f.jpg"
	thumbURL="thumbs/billanddavejpg_f.jpg"
	linkURL="images/billanddavejpg_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\billanddavejpg_f.jpg">
    <title><![CDATA[billanddavejpg_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frankandbill_f.jpg"
	thumbURL="thumbs/frankandbill_f.jpg"
	linkURL="images/frankandbill_f.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Historic-Field-Day-Albums\Field-Day-2002\frankandbill_f.jpg">
    <title><![CDATA[frankandbill_f]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>