<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/Dave Conroy - IMG_2875.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2875.jpg"
	linkURL="images/Dave Conroy - IMG_2875.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2875.JPG"

>
    <title><![CDATA[Dave Conroy - IMG_2875]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2876.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2876.jpg"
	linkURL="images/Dave Conroy - IMG_2876.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2876.JPG">
    <title><![CDATA[Dave Conroy - IMG_2876]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2877.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2877.jpg"
	linkURL="images/Dave Conroy - IMG_2877.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2877.JPG">
    <title><![CDATA[Dave Conroy - IMG_2877]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2878.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2878.jpg"
	linkURL="images/Dave Conroy - IMG_2878.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2878.jpg">
    <title><![CDATA[Dave Conroy - IMG_2878]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2879.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2879.jpg"
	linkURL="images/Dave Conroy - IMG_2879.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2879.JPG">
    <title><![CDATA[Dave Conroy - IMG_2879]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2880.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2880.jpg"
	linkURL="images/Dave Conroy - IMG_2880.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2880.JPG">
    <title><![CDATA[Dave Conroy - IMG_2880]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2882.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2882.jpg"
	linkURL="images/Dave Conroy - IMG_2882.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2882.JPG">
    <title><![CDATA[Dave Conroy - IMG_2882]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2883.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2883.jpg"
	linkURL="images/Dave Conroy - IMG_2883.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2883.JPG">
    <title><![CDATA[Dave Conroy - IMG_2883]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dave Conroy - IMG_2885.jpg"
	thumbURL="thumbs/Dave Conroy - IMG_2885.jpg"
	linkURL="images/Dave Conroy - IMG_2885.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Dave Conroy - IMG_2885.jpg">
    <title><![CDATA[Dave Conroy - IMG_2885]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Michael Silvers - image001.jpg"
	thumbURL="thumbs/Michael Silvers - image001.jpg"
	linkURL="images/Michael Silvers - image001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Michael Silvers - image001.jpg">
    <title><![CDATA[Michael Silvers - image001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Michael Silvers - image002.jpg"
	thumbURL="thumbs/Michael Silvers - image002.jpg"
	linkURL="images/Michael Silvers - image002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Michael Silvers - image002.jpg">
    <title><![CDATA[Michael Silvers - image002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Michael Silvers - image003.jpg"
	thumbURL="thumbs/Michael Silvers - image003.jpg"
	linkURL="images/Michael Silvers - image003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Michael Silvers - image003.jpg">
    <title><![CDATA[Michael Silvers - image003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Michael Silvers - image004.jpg"
	thumbURL="thumbs/Michael Silvers - image004.jpg"
	linkURL="images/Michael Silvers - image004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Michael Silvers - image004.jpg">
    <title><![CDATA[Michael Silvers - image004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Michael Silvers - image005.jpg"
	thumbURL="thumbs/Michael Silvers - image005.jpg"
	linkURL="images/Michael Silvers - image005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Michael Silvers - image005.jpg">
    <title><![CDATA[Michael Silvers - image005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Michael Silvers - image006.jpg"
	thumbURL="thumbs/Michael Silvers - image006.jpg"
	linkURL="images/Michael Silvers - image006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Michael Silvers - image006.jpg">
    <title><![CDATA[Michael Silvers - image006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_100237.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_100237.jpg"
	linkURL="images/Paul Atkins - 20190622_100237.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_100237.jpg">
    <title><![CDATA[Paul Atkins - 20190622_100237]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_100245.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_100245.jpg"
	linkURL="images/Paul Atkins - 20190622_100245.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_100245.jpg">
    <title><![CDATA[Paul Atkins - 20190622_100245]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_101939.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_101939.jpg"
	linkURL="images/Paul Atkins - 20190622_101939.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_101939.jpg">
    <title><![CDATA[Paul Atkins - 20190622_101939]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_101943.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_101943.jpg"
	linkURL="images/Paul Atkins - 20190622_101943.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_101943.jpg">
    <title><![CDATA[Paul Atkins - 20190622_101943]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_102015.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_102015.jpg"
	linkURL="images/Paul Atkins - 20190622_102015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_102015.jpg">
    <title><![CDATA[Paul Atkins - 20190622_102015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_102051.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_102051.jpg"
	linkURL="images/Paul Atkins - 20190622_102051.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_102051.jpg">
    <title><![CDATA[Paul Atkins - 20190622_102051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_120630.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_120630.jpg"
	linkURL="images/Paul Atkins - 20190622_120630.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_120630.jpg">
    <title><![CDATA[Paul Atkins - 20190622_120630]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_120639.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_120639.jpg"
	linkURL="images/Paul Atkins - 20190622_120639.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_120639.jpg">
    <title><![CDATA[Paul Atkins - 20190622_120639]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_124142.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_124142.jpg"
	linkURL="images/Paul Atkins - 20190622_124142.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_124142.jpg">
    <title><![CDATA[Paul Atkins - 20190622_124142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paul Atkins - 20190622_124218.jpg"
	thumbURL="thumbs/Paul Atkins - 20190622_124218.jpg"
	linkURL="images/Paul Atkins - 20190622_124218.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\Paul Atkins - 20190622_124218.jpg">
    <title><![CDATA[Paul Atkins - 20190622_124218]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0859.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0859.jpg"
	linkURL="images/R. Scott Sutor - IMG_0859.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0859.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0859]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0860.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0860.jpg"
	linkURL="images/R. Scott Sutor - IMG_0860.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0860.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0860]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0861.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0861.jpg"
	linkURL="images/R. Scott Sutor - IMG_0861.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0861.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0861]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0862.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0862.jpg"
	linkURL="images/R. Scott Sutor - IMG_0862.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0862.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0862]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0863.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0863.jpg"
	linkURL="images/R. Scott Sutor - IMG_0863.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0863.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0863]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0864.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0864.jpg"
	linkURL="images/R. Scott Sutor - IMG_0864.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0864.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0864]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0865.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0865.jpg"
	linkURL="images/R. Scott Sutor - IMG_0865.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0865.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0865]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0867.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0867.jpg"
	linkURL="images/R. Scott Sutor - IMG_0867.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0867.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0867]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0868.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0868.jpg"
	linkURL="images/R. Scott Sutor - IMG_0868.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0868.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0868]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0869.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0869.jpg"
	linkURL="images/R. Scott Sutor - IMG_0869.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0869.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0869]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0870.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0870.jpg"
	linkURL="images/R. Scott Sutor - IMG_0870.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0870.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0870]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R. Scott Sutor - IMG_0871.jpg"
	thumbURL="thumbs/R. Scott Sutor - IMG_0871.jpg"
	linkURL="images/R. Scott Sutor - IMG_0871.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk_000\Desktop\GIMP_Test\R. Scott Sutor - IMG_0871.JPG">
    <title><![CDATA[R. Scott Sutor - IMG_0871]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>