<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field-Day-2010"

>
  <image imageURL="images/DSC_0201.jpg"
	thumbURL="thumbs/DSC_0201.jpg"
	linkURL="images/DSC_0201.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0201.JPG">
    <title><![CDATA[DSC_0201]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0202.jpg"
	thumbURL="thumbs/DSC_0202.jpg"
	linkURL="images/DSC_0202.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0202.JPG">
    <title><![CDATA[DSC_0202]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0203.jpg"
	thumbURL="thumbs/DSC_0203.jpg"
	linkURL="images/DSC_0203.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0203.JPG">
    <title><![CDATA[DSC_0203]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0204.jpg"
	thumbURL="thumbs/DSC_0204.jpg"
	linkURL="images/DSC_0204.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0204.JPG">
    <title><![CDATA[DSC_0204]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0205.jpg"
	thumbURL="thumbs/DSC_0205.jpg"
	linkURL="images/DSC_0205.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0205.JPG">
    <title><![CDATA[DSC_0205]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0206.jpg"
	thumbURL="thumbs/DSC_0206.jpg"
	linkURL="images/DSC_0206.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0206.JPG">
    <title><![CDATA[DSC_0206]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0207.jpg"
	thumbURL="thumbs/DSC_0207.jpg"
	linkURL="images/DSC_0207.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0207.JPG">
    <title><![CDATA[DSC_0207]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0208.jpg"
	thumbURL="thumbs/DSC_0208.jpg"
	linkURL="images/DSC_0208.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0208.JPG">
    <title><![CDATA[DSC_0208]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0209.jpg"
	thumbURL="thumbs/DSC_0209.jpg"
	linkURL="images/DSC_0209.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0209.JPG">
    <title><![CDATA[DSC_0209]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0210.jpg"
	thumbURL="thumbs/DSC_0210.jpg"
	linkURL="images/DSC_0210.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0210.JPG">
    <title><![CDATA[DSC_0210]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0211.jpg"
	thumbURL="thumbs/DSC_0211.jpg"
	linkURL="images/DSC_0211.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0211.JPG">
    <title><![CDATA[DSC_0211]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0212.jpg"
	thumbURL="thumbs/DSC_0212.jpg"
	linkURL="images/DSC_0212.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0212.JPG">
    <title><![CDATA[DSC_0212]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0213.jpg"
	thumbURL="thumbs/DSC_0213.jpg"
	linkURL="images/DSC_0213.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0213.JPG">
    <title><![CDATA[DSC_0213]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0214.jpg"
	thumbURL="thumbs/DSC_0214.jpg"
	linkURL="images/DSC_0214.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0214.JPG">
    <title><![CDATA[DSC_0214]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0215.jpg"
	thumbURL="thumbs/DSC_0215.jpg"
	linkURL="images/DSC_0215.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0215.JPG">
    <title><![CDATA[DSC_0215]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0216.jpg"
	thumbURL="thumbs/DSC_0216.jpg"
	linkURL="images/DSC_0216.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0216.JPG">
    <title><![CDATA[DSC_0216]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0217.jpg"
	thumbURL="thumbs/DSC_0217.jpg"
	linkURL="images/DSC_0217.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0217.JPG">
    <title><![CDATA[DSC_0217]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0218.jpg"
	thumbURL="thumbs/DSC_0218.jpg"
	linkURL="images/DSC_0218.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0218.JPG">
    <title><![CDATA[DSC_0218]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0219.jpg"
	thumbURL="thumbs/DSC_0219.jpg"
	linkURL="images/DSC_0219.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0219.JPG">
    <title><![CDATA[DSC_0219]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0220.jpg"
	thumbURL="thumbs/DSC_0220.jpg"
	linkURL="images/DSC_0220.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0220.JPG">
    <title><![CDATA[DSC_0220]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0221.jpg"
	thumbURL="thumbs/DSC_0221.jpg"
	linkURL="images/DSC_0221.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0221.JPG">
    <title><![CDATA[DSC_0221]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0222.jpg"
	thumbURL="thumbs/DSC_0222.jpg"
	linkURL="images/DSC_0222.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0222.JPG">
    <title><![CDATA[DSC_0222]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0223.jpg"
	thumbURL="thumbs/DSC_0223.jpg"
	linkURL="images/DSC_0223.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0223.JPG">
    <title><![CDATA[DSC_0223]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0224.jpg"
	thumbURL="thumbs/DSC_0224.jpg"
	linkURL="images/DSC_0224.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0224.JPG">
    <title><![CDATA[DSC_0224]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0225.jpg"
	thumbURL="thumbs/DSC_0225.jpg"
	linkURL="images/DSC_0225.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0225.JPG">
    <title><![CDATA[DSC_0225]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0226.jpg"
	thumbURL="thumbs/DSC_0226.jpg"
	linkURL="images/DSC_0226.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0226.JPG">
    <title><![CDATA[DSC_0226]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0227.jpg"
	thumbURL="thumbs/DSC_0227.jpg"
	linkURL="images/DSC_0227.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0227.JPG">
    <title><![CDATA[DSC_0227]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0228.jpg"
	thumbURL="thumbs/DSC_0228.jpg"
	linkURL="images/DSC_0228.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0228.JPG">
    <title><![CDATA[DSC_0228]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0229.jpg"
	thumbURL="thumbs/DSC_0229.jpg"
	linkURL="images/DSC_0229.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0229.JPG">
    <title><![CDATA[DSC_0229]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0230.jpg"
	thumbURL="thumbs/DSC_0230.jpg"
	linkURL="images/DSC_0230.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0230.JPG">
    <title><![CDATA[DSC_0230]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0231.jpg"
	thumbURL="thumbs/DSC_0231.jpg"
	linkURL="images/DSC_0231.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0231.JPG">
    <title><![CDATA[DSC_0231]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0232.jpg"
	thumbURL="thumbs/DSC_0232.jpg"
	linkURL="images/DSC_0232.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0232.JPG">
    <title><![CDATA[DSC_0232]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0233.jpg"
	thumbURL="thumbs/DSC_0233.jpg"
	linkURL="images/DSC_0233.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0233.JPG">
    <title><![CDATA[DSC_0233]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0234.jpg"
	thumbURL="thumbs/DSC_0234.jpg"
	linkURL="images/DSC_0234.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0234.JPG">
    <title><![CDATA[DSC_0234]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0235.jpg"
	thumbURL="thumbs/DSC_0235.jpg"
	linkURL="images/DSC_0235.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0235.JPG">
    <title><![CDATA[DSC_0235]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0236.jpg"
	thumbURL="thumbs/DSC_0236.jpg"
	linkURL="images/DSC_0236.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0236.JPG">
    <title><![CDATA[DSC_0236]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0237.jpg"
	thumbURL="thumbs/DSC_0237.jpg"
	linkURL="images/DSC_0237.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0237.JPG">
    <title><![CDATA[DSC_0237]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0238.jpg"
	thumbURL="thumbs/DSC_0238.jpg"
	linkURL="images/DSC_0238.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0238.JPG">
    <title><![CDATA[DSC_0238]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0195.jpg"
	thumbURL="thumbs/DSC_0195.jpg"
	linkURL="images/DSC_0195.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0195.JPG">
    <title><![CDATA[DSC_0195]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0196.jpg"
	thumbURL="thumbs/DSC_0196.jpg"
	linkURL="images/DSC_0196.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0196.JPG">
    <title><![CDATA[DSC_0196]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0197.jpg"
	thumbURL="thumbs/DSC_0197.jpg"
	linkURL="images/DSC_0197.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0197.JPG">
    <title><![CDATA[DSC_0197]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0198.jpg"
	thumbURL="thumbs/DSC_0198.jpg"
	linkURL="images/DSC_0198.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0198.JPG">
    <title><![CDATA[DSC_0198]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0199.jpg"
	thumbURL="thumbs/DSC_0199.jpg"
	linkURL="images/DSC_0199.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0199.JPG">
    <title><![CDATA[DSC_0199]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0200.jpg"
	thumbURL="thumbs/DSC_0200.jpg"
	linkURL="images/DSC_0200.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2010\DSC_0200.JPG">
    <title><![CDATA[DSC_0200]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>