<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Portola-Valley-Tank-Farm-2002"

>
  <image imageURL="images/michael.jpg"
	thumbURL="thumbs/michael.jpg"
	linkURL="images/michael.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\michael.jpg">
    <title><![CDATA[michael]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/michaelanddorene.jpg"
	thumbURL="thumbs/michaelanddorene.jpg"
	linkURL="images/michaelanddorene.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\michaelanddorene.jpg">
    <title><![CDATA[michaelanddorene]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/missile.jpg"
	thumbURL="thumbs/missile.jpg"
	linkURL="images/missile.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\missile.jpg">
    <title><![CDATA[missile]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/platform.jpg"
	thumbURL="thumbs/platform.jpg"
	linkURL="images/platform.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\platform.jpg">
    <title><![CDATA[platform]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/readytorumble.jpg"
	thumbURL="thumbs/readytorumble.jpg"
	linkURL="images/readytorumble.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\readytorumble.jpg">
    <title><![CDATA[readytorumble]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/remotecontroltank.jpg"
	thumbURL="thumbs/remotecontroltank.jpg"
	linkURL="images/remotecontroltank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\remotecontroltank.jpg">
    <title><![CDATA[remotecontroltank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/repairshop.jpg"
	thumbURL="thumbs/repairshop.jpg"
	linkURL="images/repairshop.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\repairshop.jpg">
    <title><![CDATA[repairshop]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/repairtank.jpg"
	thumbURL="thumbs/repairtank.jpg"
	linkURL="images/repairtank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\repairtank.jpg">
    <title><![CDATA[repairtank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/roger.jpg"
	thumbURL="thumbs/roger.jpg"
	linkURL="images/roger.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\roger.jpg">
    <title><![CDATA[roger]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ross.jpg"
	thumbURL="thumbs/ross.jpg"
	linkURL="images/ross.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\ross.jpg">
    <title><![CDATA[ross]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/roy.jpg"
	thumbURL="thumbs/roy.jpg"
	linkURL="images/roy.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\roy.jpg">
    <title><![CDATA[roy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/roy2.jpg"
	thumbURL="thumbs/roy2.jpg"
	linkURL="images/roy2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\roy2.jpg">
    <title><![CDATA[roy2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/shell.jpg"
	thumbURL="thumbs/shell.jpg"
	linkURL="images/shell.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\shell.jpg">
    <title><![CDATA[shell]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/steve.jpg"
	thumbURL="thumbs/steve.jpg"
	linkURL="images/steve.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\steve.jpg">
    <title><![CDATA[steve]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/stevesgrandson.jpg"
	thumbURL="thumbs/stevesgrandson.jpg"
	linkURL="images/stevesgrandson.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\stevesgrandson.jpg">
    <title><![CDATA[stevesgrandson]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tank.jpg"
	thumbURL="thumbs/tank.jpg"
	linkURL="images/tank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tank.jpg">
    <title><![CDATA[tank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tank2.jpg"
	thumbURL="thumbs/tank2.jpg"
	linkURL="images/tank2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tank2.jpg">
    <title><![CDATA[tank2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tank3.jpg"
	thumbURL="thumbs/tank3.jpg"
	linkURL="images/tank3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tank3.jpg">
    <title><![CDATA[tank3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tank4.jpg"
	thumbURL="thumbs/tank4.jpg"
	linkURL="images/tank4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tank4.jpg">
    <title><![CDATA[tank4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tank5.jpg"
	thumbURL="thumbs/tank5.jpg"
	linkURL="images/tank5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tank5.jpg">
    <title><![CDATA[tank5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tank6.jpg"
	thumbURL="thumbs/tank6.jpg"
	linkURL="images/tank6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tank6.jpg">
    <title><![CDATA[tank6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankengine.jpg"
	thumbURL="thumbs/tankengine.jpg"
	linkURL="images/tankengine.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankengine.jpg">
    <title><![CDATA[tankengine]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankgun.jpg"
	thumbURL="thumbs/tankgun.jpg"
	linkURL="images/tankgun.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankgun.jpg">
    <title><![CDATA[tankgun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankgun2.jpg"
	thumbURL="thumbs/tankgun2.jpg"
	linkURL="images/tankgun2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankgun2.jpg">
    <title><![CDATA[tankgun2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankmissile.jpg"
	thumbURL="thumbs/tankmissile.jpg"
	linkURL="images/tankmissile.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankmissile.jpg">
    <title><![CDATA[tankmissile]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankparts.jpg"
	thumbURL="thumbs/tankparts.jpg"
	linkURL="images/tankparts.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankparts.jpg">
    <title><![CDATA[tankparts]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankshell.jpg"
	thumbURL="thumbs/tankshell.jpg"
	linkURL="images/tankshell.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankshell.jpg">
    <title><![CDATA[tankshell]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankwarehouse.jpg"
	thumbURL="thumbs/tankwarehouse.jpg"
	linkURL="images/tankwarehouse.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankwarehouse.jpg">
    <title><![CDATA[tankwarehouse]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tankyard.jpg"
	thumbURL="thumbs/tankyard.jpg"
	linkURL="images/tankyard.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tankyard.jpg">
    <title><![CDATA[tankyard]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tour.jpg"
	thumbURL="thumbs/tour.jpg"
	linkURL="images/tour.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tour.jpg">
    <title><![CDATA[tour]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tracks.jpg"
	thumbURL="thumbs/tracks.jpg"
	linkURL="images/tracks.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\tracks.jpg">
    <title><![CDATA[tracks]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/trucks.jpg"
	thumbURL="thumbs/trucks.jpg"
	linkURL="images/trucks.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\trucks.jpg">
    <title><![CDATA[trucks]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/workshop.jpg"
	thumbURL="thumbs/workshop.jpg"
	linkURL="images/workshop.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\workshop.jpg">
    <title><![CDATA[workshop]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/workshop2.jpg"
	thumbURL="thumbs/workshop2.jpg"
	linkURL="images/workshop2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\workshop2.jpg">
    <title><![CDATA[workshop2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/alpineinn.jpg"
	thumbURL="thumbs/alpineinn.jpg"
	linkURL="images/alpineinn.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\alpineinn.jpg">
    <title><![CDATA[alpineinn]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bigtank.jpg"
	thumbURL="thumbs/bigtank.jpg"
	linkURL="images/bigtank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\bigtank.jpg">
    <title><![CDATA[bigtank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/carcgang_pg.jpg"
	thumbURL="thumbs/carcgang_pg.jpg"
	linkURL="images/carcgang_pg.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\carcgang_pg.jpg">
    <title><![CDATA[carcgang_pg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/carcmembers.jpg"
	thumbURL="thumbs/carcmembers.jpg"
	linkURL="images/carcmembers.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\carcmembers.jpg">
    <title><![CDATA[carcmembers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/courtyard.jpg"
	thumbURL="thumbs/courtyard.jpg"
	linkURL="images/courtyard.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\courtyard.jpg">
    <title><![CDATA[courtyard]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dave.jpg"
	thumbURL="thumbs/dave.jpg"
	linkURL="images/dave.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\dave.jpg">
    <title><![CDATA[dave]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/description.jpg"
	thumbURL="thumbs/description.jpg"
	linkURL="images/description.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\description.jpg">
    <title><![CDATA[description]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/endoftour.jpg"
	thumbURL="thumbs/endoftour.jpg"
	linkURL="images/endoftour.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\endoftour.jpg">
    <title><![CDATA[endoftour]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine.jpg"
	thumbURL="thumbs/engine.jpg"
	linkURL="images/engine.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\engine.jpg">
    <title><![CDATA[engine]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine2.jpg"
	thumbURL="thumbs/engine2.jpg"
	linkURL="images/engine2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\engine2.jpg">
    <title><![CDATA[engine2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/eoccenter.jpg"
	thumbURL="thumbs/eoccenter.jpg"
	linkURL="images/eoccenter.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\eoccenter.jpg">
    <title><![CDATA[eoccenter]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/equipment.jpg"
	thumbURL="thumbs/equipment.jpg"
	linkURL="images/equipment.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\equipment.jpg">
    <title><![CDATA[equipment]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gun.jpg"
	thumbURL="thumbs/gun.jpg"
	linkURL="images/gun.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\gun.jpg">
    <title><![CDATA[gun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/guns.jpg"
	thumbURL="thumbs/guns.jpg"
	linkURL="images/guns.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Portola-Valley-Tank-Farm-2002\guns.jpg">
    <title><![CDATA[guns]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>