<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="USS Hornet 2010"

>
  <image imageURL="images/DSC_0372.jpg"
	thumbURL="thumbs/DSC_0372.jpg"
	linkURL="images/DSC_0372.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0372.JPG">
    <title><![CDATA[DSC_0372]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0373.jpg"
	thumbURL="thumbs/DSC_0373.jpg"
	linkURL="images/DSC_0373.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0373.JPG">
    <title><![CDATA[DSC_0373]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0374.jpg"
	thumbURL="thumbs/DSC_0374.jpg"
	linkURL="images/DSC_0374.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0374.JPG">
    <title><![CDATA[DSC_0374]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0375.jpg"
	thumbURL="thumbs/DSC_0375.jpg"
	linkURL="images/DSC_0375.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0375.JPG">
    <title><![CDATA[DSC_0375]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0376.jpg"
	thumbURL="thumbs/DSC_0376.jpg"
	linkURL="images/DSC_0376.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0376.JPG">
    <title><![CDATA[DSC_0376]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0377.jpg"
	thumbURL="thumbs/DSC_0377.jpg"
	linkURL="images/DSC_0377.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0377.JPG">
    <title><![CDATA[DSC_0377]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0378.jpg"
	thumbURL="thumbs/DSC_0378.jpg"
	linkURL="images/DSC_0378.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0378.JPG">
    <title><![CDATA[DSC_0378]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0379.jpg"
	thumbURL="thumbs/DSC_0379.jpg"
	linkURL="images/DSC_0379.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0379.JPG">
    <title><![CDATA[DSC_0379]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0380.jpg"
	thumbURL="thumbs/DSC_0380.jpg"
	linkURL="images/DSC_0380.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0380.JPG">
    <title><![CDATA[DSC_0380]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0381.jpg"
	thumbURL="thumbs/DSC_0381.jpg"
	linkURL="images/DSC_0381.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0381.JPG">
    <title><![CDATA[DSC_0381]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0382.jpg"
	thumbURL="thumbs/DSC_0382.jpg"
	linkURL="images/DSC_0382.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0382.JPG">
    <title><![CDATA[DSC_0382]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0383.jpg"
	thumbURL="thumbs/DSC_0383.jpg"
	linkURL="images/DSC_0383.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0383.JPG">
    <title><![CDATA[DSC_0383]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0384.jpg"
	thumbURL="thumbs/DSC_0384.jpg"
	linkURL="images/DSC_0384.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0384.JPG">
    <title><![CDATA[DSC_0384]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0385.jpg"
	thumbURL="thumbs/DSC_0385.jpg"
	linkURL="images/DSC_0385.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0385.JPG">
    <title><![CDATA[DSC_0385]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0386.jpg"
	thumbURL="thumbs/DSC_0386.jpg"
	linkURL="images/DSC_0386.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0386.JPG">
    <title><![CDATA[DSC_0386]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0387.jpg"
	thumbURL="thumbs/DSC_0387.jpg"
	linkURL="images/DSC_0387.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0387.JPG">
    <title><![CDATA[DSC_0387]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0388.jpg"
	thumbURL="thumbs/DSC_0388.jpg"
	linkURL="images/DSC_0388.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0388.JPG">
    <title><![CDATA[DSC_0388]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0389.jpg"
	thumbURL="thumbs/DSC_0389.jpg"
	linkURL="images/DSC_0389.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0389.JPG">
    <title><![CDATA[DSC_0389]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0390.jpg"
	thumbURL="thumbs/DSC_0390.jpg"
	linkURL="images/DSC_0390.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0390.JPG">
    <title><![CDATA[DSC_0390]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0391.jpg"
	thumbURL="thumbs/DSC_0391.jpg"
	linkURL="images/DSC_0391.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0391.JPG">
    <title><![CDATA[DSC_0391]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0392.jpg"
	thumbURL="thumbs/DSC_0392.jpg"
	linkURL="images/DSC_0392.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0392.JPG">
    <title><![CDATA[DSC_0392]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0393.jpg"
	thumbURL="thumbs/DSC_0393.jpg"
	linkURL="images/DSC_0393.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0393.JPG">
    <title><![CDATA[DSC_0393]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0394.jpg"
	thumbURL="thumbs/DSC_0394.jpg"
	linkURL="images/DSC_0394.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0394.JPG">
    <title><![CDATA[DSC_0394]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0396.jpg"
	thumbURL="thumbs/DSC_0396.jpg"
	linkURL="images/DSC_0396.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0396.JPG">
    <title><![CDATA[DSC_0396]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0397.jpg"
	thumbURL="thumbs/DSC_0397.jpg"
	linkURL="images/DSC_0397.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0397.JPG">
    <title><![CDATA[DSC_0397]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0399.jpg"
	thumbURL="thumbs/DSC_0399.jpg"
	linkURL="images/DSC_0399.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0399.JPG">
    <title><![CDATA[DSC_0399]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0400.jpg"
	thumbURL="thumbs/DSC_0400.jpg"
	linkURL="images/DSC_0400.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0400.JPG">
    <title><![CDATA[DSC_0400]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0401.jpg"
	thumbURL="thumbs/DSC_0401.jpg"
	linkURL="images/DSC_0401.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0401.JPG">
    <title><![CDATA[DSC_0401]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0402.jpg"
	thumbURL="thumbs/DSC_0402.jpg"
	linkURL="images/DSC_0402.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0402.JPG">
    <title><![CDATA[DSC_0402]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0403.jpg"
	thumbURL="thumbs/DSC_0403.jpg"
	linkURL="images/DSC_0403.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0403.JPG">
    <title><![CDATA[DSC_0403]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0404.jpg"
	thumbURL="thumbs/DSC_0404.jpg"
	linkURL="images/DSC_0404.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0404.JPG">
    <title><![CDATA[DSC_0404]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0405.jpg"
	thumbURL="thumbs/DSC_0405.jpg"
	linkURL="images/DSC_0405.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0405.JPG">
    <title><![CDATA[DSC_0405]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0406.jpg"
	thumbURL="thumbs/DSC_0406.jpg"
	linkURL="images/DSC_0406.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0406.JPG">
    <title><![CDATA[DSC_0406]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0407.jpg"
	thumbURL="thumbs/DSC_0407.jpg"
	linkURL="images/DSC_0407.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0407.JPG">
    <title><![CDATA[DSC_0407]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0408.jpg"
	thumbURL="thumbs/DSC_0408.jpg"
	linkURL="images/DSC_0408.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0408.JPG">
    <title><![CDATA[DSC_0408]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0409.jpg"
	thumbURL="thumbs/DSC_0409.jpg"
	linkURL="images/DSC_0409.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0409.JPG">
    <title><![CDATA[DSC_0409]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0410.jpg"
	thumbURL="thumbs/DSC_0410.jpg"
	linkURL="images/DSC_0410.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0410.JPG">
    <title><![CDATA[DSC_0410]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0411.jpg"
	thumbURL="thumbs/DSC_0411.jpg"
	linkURL="images/DSC_0411.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0411.JPG">
    <title><![CDATA[DSC_0411]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0412.jpg"
	thumbURL="thumbs/DSC_0412.jpg"
	linkURL="images/DSC_0412.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0412.JPG">
    <title><![CDATA[DSC_0412]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0413.jpg"
	thumbURL="thumbs/DSC_0413.jpg"
	linkURL="images/DSC_0413.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0413.JPG">
    <title><![CDATA[DSC_0413]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0414.jpg"
	thumbURL="thumbs/DSC_0414.jpg"
	linkURL="images/DSC_0414.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0414.JPG">
    <title><![CDATA[DSC_0414]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0354.jpg"
	thumbURL="thumbs/DSC_0354.jpg"
	linkURL="images/DSC_0354.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0354.JPG">
    <title><![CDATA[DSC_0354]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0355.jpg"
	thumbURL="thumbs/DSC_0355.jpg"
	linkURL="images/DSC_0355.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0355.JPG">
    <title><![CDATA[DSC_0355]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0356.jpg"
	thumbURL="thumbs/DSC_0356.jpg"
	linkURL="images/DSC_0356.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0356.JPG">
    <title><![CDATA[DSC_0356]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0358.jpg"
	thumbURL="thumbs/DSC_0358.jpg"
	linkURL="images/DSC_0358.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0358.JPG">
    <title><![CDATA[DSC_0358]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0360.jpg"
	thumbURL="thumbs/DSC_0360.jpg"
	linkURL="images/DSC_0360.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0360.JPG">
    <title><![CDATA[DSC_0360]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0361.jpg"
	thumbURL="thumbs/DSC_0361.jpg"
	linkURL="images/DSC_0361.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0361.JPG">
    <title><![CDATA[DSC_0361]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0362.jpg"
	thumbURL="thumbs/DSC_0362.jpg"
	linkURL="images/DSC_0362.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0362.JPG">
    <title><![CDATA[DSC_0362]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0363.jpg"
	thumbURL="thumbs/DSC_0363.jpg"
	linkURL="images/DSC_0363.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0363.JPG">
    <title><![CDATA[DSC_0363]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0364.jpg"
	thumbURL="thumbs/DSC_0364.jpg"
	linkURL="images/DSC_0364.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0364.JPG">
    <title><![CDATA[DSC_0364]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0366.jpg"
	thumbURL="thumbs/DSC_0366.jpg"
	linkURL="images/DSC_0366.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0366.JPG">
    <title><![CDATA[DSC_0366]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0368.jpg"
	thumbURL="thumbs/DSC_0368.jpg"
	linkURL="images/DSC_0368.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0368.JPG">
    <title><![CDATA[DSC_0368]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0369.jpg"
	thumbURL="thumbs/DSC_0369.jpg"
	linkURL="images/DSC_0369.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0369.JPG">
    <title><![CDATA[DSC_0369]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0370.jpg"
	thumbURL="thumbs/DSC_0370.jpg"
	linkURL="images/DSC_0370.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0370.JPG">
    <title><![CDATA[DSC_0370]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0371.jpg"
	thumbURL="thumbs/DSC_0371.jpg"
	linkURL="images/DSC_0371.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\USS-Hornet-2010\DSC_0371.JPG">
    <title><![CDATA[DSC_0371]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>