<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/class-8.jpg"
	thumbURL="thumbs/class-8.jpg"
	linkURL="images/class-8.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-8.jpg"

>
    <title><![CDATA[class-8]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-1.jpg"
	thumbURL="thumbs/class-1.jpg"
	linkURL="images/class-1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-1.jpg">
    <title><![CDATA[class-1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-2.jpg"
	thumbURL="thumbs/class-2.jpg"
	linkURL="images/class-2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-2.jpg">
    <title><![CDATA[class-2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-3.jpg"
	thumbURL="thumbs/class-3.jpg"
	linkURL="images/class-3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-3.jpg">
    <title><![CDATA[class-3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-4.jpg"
	thumbURL="thumbs/class-4.jpg"
	linkURL="images/class-4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-4.jpg">
    <title><![CDATA[class-4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-5.jpg"
	thumbURL="thumbs/class-5.jpg"
	linkURL="images/class-5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-5.jpg">
    <title><![CDATA[class-5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-6.jpg"
	thumbURL="thumbs/class-6.jpg"
	linkURL="images/class-6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-6.jpg">
    <title><![CDATA[class-6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/class-7.jpg"
	thumbURL="thumbs/class-7.jpg"
	linkURL="images/class-7.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Events-and-Event-Nights\Back-to-School-Night-2005\class-7.jpg">
    <title><![CDATA[class-7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>