<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/E71C5332-F7A8-4399-8895-D6556FDBADDC.jpg"
	thumbURL="thumbs/E71C5332-F7A8-4399-8895-D6556FDBADDC.jpg"
	linkURL="images/E71C5332-F7A8-4399-8895-D6556FDBADDC.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\E71C5332-F7A8-4399-8895-D6556FDBADDC.jpg"

>
    <title><![CDATA[E71C5332-F7A8-4399-8895-D6556FDBADDC]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1902.jpg"
	thumbURL="thumbs/IMG_1902.jpg"
	linkURL="images/IMG_1902.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1902.jpg">
    <title><![CDATA[IMG_1902]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1903.jpg"
	thumbURL="thumbs/IMG_1903.jpg"
	linkURL="images/IMG_1903.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1903.jpg">
    <title><![CDATA[IMG_1903]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1904.jpg"
	thumbURL="thumbs/IMG_1904.jpg"
	linkURL="images/IMG_1904.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1904.jpg">
    <title><![CDATA[IMG_1904]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1905.jpg"
	thumbURL="thumbs/IMG_1905.jpg"
	linkURL="images/IMG_1905.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1905.jpg">
    <title><![CDATA[IMG_1905]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1906.jpg"
	thumbURL="thumbs/IMG_1906.jpg"
	linkURL="images/IMG_1906.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1906.jpg">
    <title><![CDATA[IMG_1906]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1907.jpg"
	thumbURL="thumbs/IMG_1907.jpg"
	linkURL="images/IMG_1907.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1907.jpg">
    <title><![CDATA[IMG_1907]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1908.jpg"
	thumbURL="thumbs/IMG_1908.jpg"
	linkURL="images/IMG_1908.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1908.jpg">
    <title><![CDATA[IMG_1908]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1909.jpg"
	thumbURL="thumbs/IMG_1909.jpg"
	linkURL="images/IMG_1909.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1909.jpg">
    <title><![CDATA[IMG_1909]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1911.jpg"
	thumbURL="thumbs/IMG_1911.jpg"
	linkURL="images/IMG_1911.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1911.jpg">
    <title><![CDATA[IMG_1911]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1913.jpg"
	thumbURL="thumbs/IMG_1913.jpg"
	linkURL="images/IMG_1913.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1913.jpg">
    <title><![CDATA[IMG_1913]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1914.jpg"
	thumbURL="thumbs/IMG_1914.jpg"
	linkURL="images/IMG_1914.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\IMG_1914.jpg">
    <title><![CDATA[IMG_1914]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/90C64D00-5010-4172-94F3-36A8F4A877D9.jpg"
	thumbURL="thumbs/90C64D00-5010-4172-94F3-36A8F4A877D9.jpg"
	linkURL="images/90C64D00-5010-4172-94F3-36A8F4A877D9.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\90C64D00-5010-4172-94F3-36A8F4A877D9.jpg">
    <title><![CDATA[90C64D00-5010-4172-94F3-36A8F4A877D9]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/D1572AF7-2090-41FF-A22F-6D17AF89C2DF.jpg"
	thumbURL="thumbs/D1572AF7-2090-41FF-A22F-6D17AF89C2DF.jpg"
	linkURL="images/D1572AF7-2090-41FF-A22F-6D17AF89C2DF.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\D1572AF7-2090-41FF-A22F-6D17AF89C2DF.jpg">
    <title><![CDATA[D1572AF7-2090-41FF-A22F-6D17AF89C2DF]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/D701197B-5F67-415C-B587-0414FDEB3F7A.jpg"
	thumbURL="thumbs/D701197B-5F67-415C-B587-0414FDEB3F7A.jpg"
	linkURL="images/D701197B-5F67-415C-B587-0414FDEB3F7A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\D701197B-5F67-415C-B587-0414FDEB3F7A.jpg">
    <title><![CDATA[D701197B-5F67-415C-B587-0414FDEB3F7A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/E8DDC3E3-8BFF-4E75-9049-F2B9CD9C0CE8.jpg"
	thumbURL="thumbs/E8DDC3E3-8BFF-4E75-9049-F2B9CD9C0CE8.jpg"
	linkURL="images/E8DDC3E3-8BFF-4E75-9049-F2B9CD9C0CE8.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2023\images\E8DDC3E3-8BFF-4E75-9049-F2B9CD9C0CE8.jpg">
    <title><![CDATA[E8DDC3E3-8BFF-4E75-9049-F2B9CD9C0CE8]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>