<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field-Day-2012"

>
  <image imageURL="images/IMG_0111.jpg"
	thumbURL="thumbs/IMG_0111.jpg"
	linkURL="images/IMG_0111.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0111.JPG">
    <title><![CDATA[IMG_0111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0112.jpg"
	thumbURL="thumbs/IMG_0112.jpg"
	linkURL="images/IMG_0112.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0112.JPG">
    <title><![CDATA[IMG_0112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0113.jpg"
	thumbURL="thumbs/IMG_0113.jpg"
	linkURL="images/IMG_0113.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0113.JPG">
    <title><![CDATA[IMG_0113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0115.jpg"
	thumbURL="thumbs/IMG_0115.jpg"
	linkURL="images/IMG_0115.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0115.JPG">
    <title><![CDATA[IMG_0115]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0116.jpg"
	thumbURL="thumbs/IMG_0116.jpg"
	linkURL="images/IMG_0116.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0116.JPG">
    <title><![CDATA[IMG_0116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0117.jpg"
	thumbURL="thumbs/IMG_0117.jpg"
	linkURL="images/IMG_0117.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0117.JPG">
    <title><![CDATA[IMG_0117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0118.jpg"
	thumbURL="thumbs/IMG_0118.jpg"
	linkURL="images/IMG_0118.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0118.JPG">
    <title><![CDATA[IMG_0118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0119.jpg"
	thumbURL="thumbs/IMG_0119.jpg"
	linkURL="images/IMG_0119.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0119.JPG">
    <title><![CDATA[IMG_0119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0120.jpg"
	thumbURL="thumbs/IMG_0120.jpg"
	linkURL="images/IMG_0120.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0120.JPG">
    <title><![CDATA[IMG_0120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0121.jpg"
	thumbURL="thumbs/IMG_0121.jpg"
	linkURL="images/IMG_0121.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0121.JPG">
    <title><![CDATA[IMG_0121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0122.jpg"
	thumbURL="thumbs/IMG_0122.jpg"
	linkURL="images/IMG_0122.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0122.JPG">
    <title><![CDATA[IMG_0122]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0123.jpg"
	thumbURL="thumbs/IMG_0123.jpg"
	linkURL="images/IMG_0123.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0123.JPG">
    <title><![CDATA[IMG_0123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0124.jpg"
	thumbURL="thumbs/IMG_0124.jpg"
	linkURL="images/IMG_0124.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0124.JPG">
    <title><![CDATA[IMG_0124]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0125.jpg"
	thumbURL="thumbs/IMG_0125.jpg"
	linkURL="images/IMG_0125.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0125.JPG">
    <title><![CDATA[IMG_0125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0126.jpg"
	thumbURL="thumbs/IMG_0126.jpg"
	linkURL="images/IMG_0126.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0126.JPG">
    <title><![CDATA[IMG_0126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0127.jpg"
	thumbURL="thumbs/IMG_0127.jpg"
	linkURL="images/IMG_0127.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0127.JPG">
    <title><![CDATA[IMG_0127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0128.jpg"
	thumbURL="thumbs/IMG_0128.jpg"
	linkURL="images/IMG_0128.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0128.JPG">
    <title><![CDATA[IMG_0128]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0129.jpg"
	thumbURL="thumbs/IMG_0129.jpg"
	linkURL="images/IMG_0129.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0129.JPG">
    <title><![CDATA[IMG_0129]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0130.jpg"
	thumbURL="thumbs/IMG_0130.jpg"
	linkURL="images/IMG_0130.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0130.JPG">
    <title><![CDATA[IMG_0130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0131.jpg"
	thumbURL="thumbs/IMG_0131.jpg"
	linkURL="images/IMG_0131.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0131.JPG">
    <title><![CDATA[IMG_0131]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0132.jpg"
	thumbURL="thumbs/IMG_0132.jpg"
	linkURL="images/IMG_0132.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0132.JPG">
    <title><![CDATA[IMG_0132]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0133.jpg"
	thumbURL="thumbs/IMG_0133.jpg"
	linkURL="images/IMG_0133.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0133.JPG">
    <title><![CDATA[IMG_0133]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0135.jpg"
	thumbURL="thumbs/IMG_0135.jpg"
	linkURL="images/IMG_0135.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0135.JPG">
    <title><![CDATA[IMG_0135]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0137.jpg"
	thumbURL="thumbs/IMG_0137.jpg"
	linkURL="images/IMG_0137.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0137.JPG">
    <title><![CDATA[IMG_0137]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0138.jpg"
	thumbURL="thumbs/IMG_0138.jpg"
	linkURL="images/IMG_0138.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0138.JPG">
    <title><![CDATA[IMG_0138]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0139.jpg"
	thumbURL="thumbs/IMG_0139.jpg"
	linkURL="images/IMG_0139.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0139.JPG">
    <title><![CDATA[IMG_0139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0105.jpg"
	thumbURL="thumbs/IMG_0105.jpg"
	linkURL="images/IMG_0105.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0105.JPG">
    <title><![CDATA[IMG_0105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0106.jpg"
	thumbURL="thumbs/IMG_0106.jpg"
	linkURL="images/IMG_0106.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0106.JPG">
    <title><![CDATA[IMG_0106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0107.jpg"
	thumbURL="thumbs/IMG_0107.jpg"
	linkURL="images/IMG_0107.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0107.JPG">
    <title><![CDATA[IMG_0107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0108.jpg"
	thumbURL="thumbs/IMG_0108.jpg"
	linkURL="images/IMG_0108.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0108.JPG">
    <title><![CDATA[IMG_0108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0109.jpg"
	thumbURL="thumbs/IMG_0109.jpg"
	linkURL="images/IMG_0109.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2012\IMG_0109.JPG">
    <title><![CDATA[IMG_0109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>