<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useLargeImages="true"
	useSmallImages="true"

>
  <image imageURL="images/IMG_2096.jpg"
	thumbURL="thumbs/IMG_2096.jpg"
	linkURL="images/large/IMG_2096.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2096.jpg"
	largeImageURL="images/large/IMG_2096.jpg"
	smallImageURL="images/small/IMG_2096.jpg">
    <title><![CDATA[IMG_2096]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2097.jpg"
	thumbURL="thumbs/IMG_2097.jpg"
	linkURL="images/large/IMG_2097.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2097.jpg"
	largeImageURL="images/large/IMG_2097.jpg"
	smallImageURL="images/small/IMG_2097.jpg">
    <title><![CDATA[IMG_2097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2099.jpg"
	thumbURL="thumbs/IMG_2099.jpg"
	linkURL="images/large/IMG_2099.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2099.jpg"
	largeImageURL="images/large/IMG_2099.jpg"
	smallImageURL="images/small/IMG_2099.jpg">
    <title><![CDATA[IMG_2099]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2100.jpg"
	thumbURL="thumbs/IMG_2100.jpg"
	linkURL="images/large/IMG_2100.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2100.jpg"
	largeImageURL="images/large/IMG_2100.jpg"
	smallImageURL="images/small/IMG_2100.jpg">
    <title><![CDATA[IMG_2100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2101.jpg"
	thumbURL="thumbs/IMG_2101.jpg"
	linkURL="images/large/IMG_2101.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2101.jpg"
	largeImageURL="images/large/IMG_2101.jpg"
	smallImageURL="images/small/IMG_2101.jpg">
    <title><![CDATA[IMG_2101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2102.jpg"
	thumbURL="thumbs/IMG_2102.jpg"
	linkURL="images/large/IMG_2102.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2102.jpg"
	largeImageURL="images/large/IMG_2102.jpg"
	smallImageURL="images/small/IMG_2102.jpg">
    <title><![CDATA[IMG_2102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2104.jpg"
	thumbURL="thumbs/IMG_2104.jpg"
	linkURL="images/large/IMG_2104.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2104.jpg"
	largeImageURL="images/large/IMG_2104.jpg"
	smallImageURL="images/small/IMG_2104.jpg">
    <title><![CDATA[IMG_2104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2105.jpg"
	thumbURL="thumbs/IMG_2105.jpg"
	linkURL="images/large/IMG_2105.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2105.jpg"
	largeImageURL="images/large/IMG_2105.jpg"
	smallImageURL="images/small/IMG_2105.jpg">
    <title><![CDATA[IMG_2105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2107.jpg"
	thumbURL="thumbs/IMG_2107.jpg"
	linkURL="images/large/IMG_2107.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2107.jpg"
	largeImageURL="images/large/IMG_2107.jpg"
	smallImageURL="images/small/IMG_2107.jpg">
    <title><![CDATA[IMG_2107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2109.jpg"
	thumbURL="thumbs/IMG_2109.jpg"
	linkURL="images/large/IMG_2109.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2109.jpg"
	largeImageURL="images/large/IMG_2109.jpg"
	smallImageURL="images/small/IMG_2109.jpg">
    <title><![CDATA[IMG_2109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2111.jpg"
	thumbURL="thumbs/IMG_2111.jpg"
	linkURL="images/large/IMG_2111.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2111.jpg"
	largeImageURL="images/large/IMG_2111.jpg"
	smallImageURL="images/small/IMG_2111.jpg">
    <title><![CDATA[IMG_2111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2112.jpg"
	thumbURL="thumbs/IMG_2112.jpg"
	linkURL="images/large/IMG_2112.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2112.jpg"
	largeImageURL="images/large/IMG_2112.jpg"
	smallImageURL="images/small/IMG_2112.jpg">
    <title><![CDATA[IMG_2112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2113.jpg"
	thumbURL="thumbs/IMG_2113.jpg"
	linkURL="images/large/IMG_2113.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2113.jpg"
	largeImageURL="images/large/IMG_2113.jpg"
	smallImageURL="images/small/IMG_2113.jpg">
    <title><![CDATA[IMG_2113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2115.jpg"
	thumbURL="thumbs/IMG_2115.jpg"
	linkURL="images/large/IMG_2115.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2115.jpg"
	largeImageURL="images/large/IMG_2115.jpg"
	smallImageURL="images/small/IMG_2115.jpg">
    <title><![CDATA[IMG_2115]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2116.jpg"
	thumbURL="thumbs/IMG_2116.jpg"
	linkURL="images/large/IMG_2116.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2116.jpg"
	largeImageURL="images/large/IMG_2116.jpg"
	smallImageURL="images/small/IMG_2116.jpg">
    <title><![CDATA[IMG_2116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2117.jpg"
	thumbURL="thumbs/IMG_2117.jpg"
	linkURL="images/large/IMG_2117.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2117.jpg"
	largeImageURL="images/large/IMG_2117.jpg"
	smallImageURL="images/small/IMG_2117.jpg">
    <title><![CDATA[IMG_2117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2119.jpg"
	thumbURL="thumbs/IMG_2119.jpg"
	linkURL="images/large/IMG_2119.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2119.jpg"
	largeImageURL="images/large/IMG_2119.jpg"
	smallImageURL="images/small/IMG_2119.jpg">
    <title><![CDATA[IMG_2119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2120.jpg"
	thumbURL="thumbs/IMG_2120.jpg"
	linkURL="images/large/IMG_2120.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2120.jpg"
	largeImageURL="images/large/IMG_2120.jpg"
	smallImageURL="images/small/IMG_2120.jpg">
    <title><![CDATA[IMG_2120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2121.jpg"
	thumbURL="thumbs/IMG_2121.jpg"
	linkURL="images/large/IMG_2121.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2121.jpg"
	largeImageURL="images/large/IMG_2121.jpg"
	smallImageURL="images/small/IMG_2121.jpg">
    <title><![CDATA[IMG_2121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2122.jpg"
	thumbURL="thumbs/IMG_2122.jpg"
	linkURL="images/large/IMG_2122.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2122.jpg"
	largeImageURL="images/large/IMG_2122.jpg"
	smallImageURL="images/small/IMG_2122.jpg">
    <title><![CDATA[IMG_2122]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2123.jpg"
	thumbURL="thumbs/IMG_2123.jpg"
	linkURL="images/large/IMG_2123.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2123.jpg"
	largeImageURL="images/large/IMG_2123.jpg"
	smallImageURL="images/small/IMG_2123.jpg">
    <title><![CDATA[IMG_2123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2125.jpg"
	thumbURL="thumbs/IMG_2125.jpg"
	linkURL="images/large/IMG_2125.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2125.jpg"
	largeImageURL="images/large/IMG_2125.jpg"
	smallImageURL="images/small/IMG_2125.jpg">
    <title><![CDATA[IMG_2125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2126.jpg"
	thumbURL="thumbs/IMG_2126.jpg"
	linkURL="images/large/IMG_2126.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2126.jpg"
	largeImageURL="images/large/IMG_2126.jpg"
	smallImageURL="images/small/IMG_2126.jpg">
    <title><![CDATA[IMG_2126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2127.jpg"
	thumbURL="thumbs/IMG_2127.jpg"
	linkURL="images/large/IMG_2127.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2127.jpg"
	largeImageURL="images/large/IMG_2127.jpg"
	smallImageURL="images/small/IMG_2127.jpg">
    <title><![CDATA[IMG_2127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2136.jpg"
	thumbURL="thumbs/IMG_2136.jpg"
	linkURL="images/large/IMG_2136.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2136.jpg"
	largeImageURL="images/large/IMG_2136.jpg"
	smallImageURL="images/small/IMG_2136.jpg">
    <title><![CDATA[IMG_2136]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2138.jpg"
	thumbURL="thumbs/IMG_2138.jpg"
	linkURL="images/large/IMG_2138.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2138.jpg"
	largeImageURL="images/large/IMG_2138.jpg"
	smallImageURL="images/small/IMG_2138.jpg">
    <title><![CDATA[IMG_2138]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2139.jpg"
	thumbURL="thumbs/IMG_2139.jpg"
	linkURL="images/large/IMG_2139.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2139.jpg"
	largeImageURL="images/large/IMG_2139.jpg"
	smallImageURL="images/small/IMG_2139.jpg">
    <title><![CDATA[IMG_2139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2140.jpg"
	thumbURL="thumbs/IMG_2140.jpg"
	linkURL="images/large/IMG_2140.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2140.jpg"
	largeImageURL="images/large/IMG_2140.jpg"
	smallImageURL="images/small/IMG_2140.jpg">
    <title><![CDATA[IMG_2140]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2141.jpg"
	thumbURL="thumbs/IMG_2141.jpg"
	linkURL="images/large/IMG_2141.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2141.jpg"
	largeImageURL="images/large/IMG_2141.jpg"
	smallImageURL="images/small/IMG_2141.jpg">
    <title><![CDATA[IMG_2141]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2142.jpg"
	thumbURL="thumbs/IMG_2142.jpg"
	linkURL="images/large/IMG_2142.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2142.jpg"
	largeImageURL="images/large/IMG_2142.jpg"
	smallImageURL="images/small/IMG_2142.jpg">
    <title><![CDATA[IMG_2142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2145.jpg"
	thumbURL="thumbs/IMG_2145.jpg"
	linkURL="images/large/IMG_2145.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2145.jpg"
	largeImageURL="images/large/IMG_2145.jpg"
	smallImageURL="images/small/IMG_2145.jpg">
    <title><![CDATA[IMG_2145]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2152.jpg"
	thumbURL="thumbs/IMG_2152.jpg"
	linkURL="images/large/IMG_2152.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2152.jpg"
	largeImageURL="images/large/IMG_2152.jpg"
	smallImageURL="images/small/IMG_2152.jpg">
    <title><![CDATA[IMG_2152]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2153.jpg"
	thumbURL="thumbs/IMG_2153.jpg"
	linkURL="images/large/IMG_2153.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2153.jpg"
	largeImageURL="images/large/IMG_2153.jpg"
	smallImageURL="images/small/IMG_2153.jpg">
    <title><![CDATA[IMG_2153]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2161.jpg"
	thumbURL="thumbs/IMG_2161.jpg"
	linkURL="images/large/IMG_2161.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2161.jpg"
	largeImageURL="images/large/IMG_2161.jpg"
	smallImageURL="images/small/IMG_2161.jpg">
    <title><![CDATA[IMG_2161]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2162.jpg"
	thumbURL="thumbs/IMG_2162.jpg"
	linkURL="images/large/IMG_2162.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2162.jpg"
	largeImageURL="images/large/IMG_2162.jpg"
	smallImageURL="images/small/IMG_2162.jpg">
    <title><![CDATA[IMG_2162]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2163.jpg"
	thumbURL="thumbs/IMG_2163.jpg"
	linkURL="images/large/IMG_2163.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2163.jpg"
	largeImageURL="images/large/IMG_2163.jpg"
	smallImageURL="images/small/IMG_2163.jpg">
    <title><![CDATA[IMG_2163]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2164.jpg"
	thumbURL="thumbs/IMG_2164.jpg"
	linkURL="images/large/IMG_2164.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2164.jpg"
	largeImageURL="images/large/IMG_2164.jpg"
	smallImageURL="images/small/IMG_2164.jpg">
    <title><![CDATA[IMG_2164]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2165.jpg"
	thumbURL="thumbs/IMG_2165.jpg"
	linkURL="images/large/IMG_2165.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2165.jpg"
	largeImageURL="images/large/IMG_2165.jpg"
	smallImageURL="images/small/IMG_2165.jpg">
    <title><![CDATA[IMG_2165]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2166.jpg"
	thumbURL="thumbs/IMG_2166.jpg"
	linkURL="images/large/IMG_2166.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2166.jpg"
	largeImageURL="images/large/IMG_2166.jpg"
	smallImageURL="images/small/IMG_2166.jpg">
    <title><![CDATA[IMG_2166]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2168.jpg"
	thumbURL="thumbs/IMG_2168.jpg"
	linkURL="images/large/IMG_2168.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2168.jpg"
	largeImageURL="images/large/IMG_2168.jpg"
	smallImageURL="images/small/IMG_2168.jpg">
    <title><![CDATA[IMG_2168]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2169.jpg"
	thumbURL="thumbs/IMG_2169.jpg"
	linkURL="images/large/IMG_2169.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2169.jpg"
	largeImageURL="images/large/IMG_2169.jpg"
	smallImageURL="images/small/IMG_2169.jpg">
    <title><![CDATA[IMG_2169]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2170.jpg"
	thumbURL="thumbs/IMG_2170.jpg"
	linkURL="images/large/IMG_2170.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2170.jpg"
	largeImageURL="images/large/IMG_2170.jpg"
	smallImageURL="images/small/IMG_2170.jpg">
    <title><![CDATA[IMG_2170]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2171.jpg"
	thumbURL="thumbs/IMG_2171.jpg"
	linkURL="images/large/IMG_2171.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2171.jpg"
	largeImageURL="images/large/IMG_2171.jpg"
	smallImageURL="images/small/IMG_2171.jpg">
    <title><![CDATA[IMG_2171]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2172.jpg"
	thumbURL="thumbs/IMG_2172.jpg"
	linkURL="images/large/IMG_2172.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2172.jpg"
	largeImageURL="images/large/IMG_2172.jpg"
	smallImageURL="images/small/IMG_2172.jpg">
    <title><![CDATA[IMG_2172]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2173.jpg"
	thumbURL="thumbs/IMG_2173.jpg"
	linkURL="images/large/IMG_2173.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2173.jpg"
	largeImageURL="images/large/IMG_2173.jpg"
	smallImageURL="images/small/IMG_2173.jpg">
    <title><![CDATA[IMG_2173]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2175.jpg"
	thumbURL="thumbs/IMG_2175.jpg"
	linkURL="images/large/IMG_2175.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2175.jpg"
	largeImageURL="images/large/IMG_2175.jpg"
	smallImageURL="images/small/IMG_2175.jpg">
    <title><![CDATA[IMG_2175]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2176.jpg"
	thumbURL="thumbs/IMG_2176.jpg"
	linkURL="images/large/IMG_2176.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2176.jpg"
	largeImageURL="images/large/IMG_2176.jpg"
	smallImageURL="images/small/IMG_2176.jpg">
    <title><![CDATA[IMG_2176]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2179.jpg"
	thumbURL="thumbs/IMG_2179.jpg"
	linkURL="images/large/IMG_2179.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2179.jpg"
	largeImageURL="images/large/IMG_2179.jpg"
	smallImageURL="images/small/IMG_2179.jpg">
    <title><![CDATA[IMG_2179]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2180.jpg"
	thumbURL="thumbs/IMG_2180.jpg"
	linkURL="images/large/IMG_2180.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2180.jpg"
	largeImageURL="images/large/IMG_2180.jpg"
	smallImageURL="images/small/IMG_2180.jpg">
    <title><![CDATA[IMG_2180]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2181.jpg"
	thumbURL="thumbs/IMG_2181.jpg"
	linkURL="images/large/IMG_2181.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2181.jpg"
	largeImageURL="images/large/IMG_2181.jpg"
	smallImageURL="images/small/IMG_2181.jpg">
    <title><![CDATA[IMG_2181]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2182.jpg"
	thumbURL="thumbs/IMG_2182.jpg"
	linkURL="images/large/IMG_2182.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_2182.jpg"
	largeImageURL="images/large/IMG_2182.jpg"
	smallImageURL="images/small/IMG_2182.jpg">
    <title><![CDATA[IMG_2182]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3659.jpg"
	thumbURL="thumbs/IMG_3659.jpg"
	linkURL="images/large/IMG_3659.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3659.jpg"
	largeImageURL="images/large/IMG_3659.jpg"
	smallImageURL="images/small/IMG_3659.jpg">
    <title><![CDATA[IMG_3659]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3661.jpg"
	thumbURL="thumbs/IMG_3661.jpg"
	linkURL="images/large/IMG_3661.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3661.jpg"
	largeImageURL="images/large/IMG_3661.jpg"
	smallImageURL="images/small/IMG_3661.jpg">
    <title><![CDATA[IMG_3661]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3663.jpg"
	thumbURL="thumbs/IMG_3663.jpg"
	linkURL="images/large/IMG_3663.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3663.jpg"
	largeImageURL="images/large/IMG_3663.jpg"
	smallImageURL="images/small/IMG_3663.jpg">
    <title><![CDATA[IMG_3663]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3664.jpg"
	thumbURL="thumbs/IMG_3664.jpg"
	linkURL="images/large/IMG_3664.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3664.jpg"
	largeImageURL="images/large/IMG_3664.jpg"
	smallImageURL="images/small/IMG_3664.jpg">
    <title><![CDATA[IMG_3664]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3665.jpg"
	thumbURL="thumbs/IMG_3665.jpg"
	linkURL="images/large/IMG_3665.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3665.jpg"
	largeImageURL="images/large/IMG_3665.jpg"
	smallImageURL="images/small/IMG_3665.jpg">
    <title><![CDATA[IMG_3665]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3666.jpg"
	thumbURL="thumbs/IMG_3666.jpg"
	linkURL="images/large/IMG_3666.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3666.jpg"
	largeImageURL="images/large/IMG_3666.jpg"
	smallImageURL="images/small/IMG_3666.jpg">
    <title><![CDATA[IMG_3666]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3667.jpg"
	thumbURL="thumbs/IMG_3667.jpg"
	linkURL="images/large/IMG_3667.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3667.jpg"
	largeImageURL="images/large/IMG_3667.jpg"
	smallImageURL="images/small/IMG_3667.jpg">
    <title><![CDATA[IMG_3667]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3668.jpg"
	thumbURL="thumbs/IMG_3668.jpg"
	linkURL="images/large/IMG_3668.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3668.jpg"
	largeImageURL="images/large/IMG_3668.jpg"
	smallImageURL="images/small/IMG_3668.jpg">
    <title><![CDATA[IMG_3668]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3670.jpg"
	thumbURL="thumbs/IMG_3670.jpg"
	linkURL="images/large/IMG_3670.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3670.jpg"
	largeImageURL="images/large/IMG_3670.jpg"
	smallImageURL="images/small/IMG_3670.jpg">
    <title><![CDATA[IMG_3670]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3674.jpg"
	thumbURL="thumbs/IMG_3674.jpg"
	linkURL="images/large/IMG_3674.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3674.jpg"
	largeImageURL="images/large/IMG_3674.jpg"
	smallImageURL="images/small/IMG_3674.jpg">
    <title><![CDATA[IMG_3674]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3676.jpg"
	thumbURL="thumbs/IMG_3676.jpg"
	linkURL="images/large/IMG_3676.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3676.jpg"
	largeImageURL="images/large/IMG_3676.jpg"
	smallImageURL="images/small/IMG_3676.jpg">
    <title><![CDATA[IMG_3676]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3722.jpg"
	thumbURL="thumbs/IMG_3722.jpg"
	linkURL="images/large/IMG_3722.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\IMG_3722.jpg"
	largeImageURL="images/large/IMG_3722.jpg"
	smallImageURL="images/small/IMG_3722.jpg">
    <title><![CDATA[IMG_3722]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/scan.jpg"
	thumbURL="thumbs/scan.jpg"
	linkURL="images/large/scan.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\scan.jpg"
	largeImageURL="images/large/scan.jpg"
	smallImageURL="images/small/scan.jpg">
    <title><![CDATA[scan]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/scan_20210715201512.jpg"
	thumbURL="thumbs/scan_20210715201512.jpg"
	linkURL="images/large/scan_20210715201512.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\scan_20210715201512.jpg"
	largeImageURL="images/large/scan_20210715201512.jpg"
	smallImageURL="images/small/scan_20210715201512.jpg">
    <title><![CDATA[scan_20210715201512]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/scan_20210715201559.jpg"
	thumbURL="thumbs/scan_20210715201559.jpg"
	linkURL="images/large/scan_20210715201559.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\scan_20210715201559.jpg"
	largeImageURL="images/large/scan_20210715201559.jpg"
	smallImageURL="images/small/scan_20210715201559.jpg">
    <title><![CDATA[scan_20210715201559]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/scan_20210715201646.jpg"
	thumbURL="thumbs/scan_20210715201646.jpg"
	linkURL="images/large/scan_20210715201646.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\scan_20210715201646.jpg"
	largeImageURL="images/large/scan_20210715201646.jpg"
	smallImageURL="images/small/scan_20210715201646.jpg">
    <title><![CDATA[scan_20210715201646]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/scan_20210715201726.jpg"
	thumbURL="thumbs/scan_20210715201726.jpg"
	linkURL="images/large/scan_20210715201726.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\scan_20210715201726.jpg"
	largeImageURL="images/large/scan_20210715201726.jpg"
	smallImageURL="images/small/scan_20210715201726.jpg">
    <title><![CDATA[scan_20210715201726]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/scan_20210715201804.jpg"
	thumbURL="thumbs/scan_20210715201804.jpg"
	linkURL="images/large/scan_20210715201804.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\Desktop\CorrectedImage\scan_20210715201804.jpg"
	largeImageURL="images/large/scan_20210715201804.jpg"
	smallImageURL="images/small/scan_20210715201804.jpg">
    <title><![CDATA[scan_20210715201804]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>