<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field Day 2016"

>
  <image imageURL="images/IMG_2330.jpg"
	thumbURL="thumbs/IMG_2330.jpg"
	linkURL="images/IMG_2330.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2330.JPG">
    <title><![CDATA[IMG_2330]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2331.jpg"
	thumbURL="thumbs/IMG_2331.jpg"
	linkURL="images/IMG_2331.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2331.JPG">
    <title><![CDATA[IMG_2331]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2333.jpg"
	thumbURL="thumbs/IMG_2333.jpg"
	linkURL="images/IMG_2333.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2333.JPG">
    <title><![CDATA[IMG_2333]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2334.jpg"
	thumbURL="thumbs/IMG_2334.jpg"
	linkURL="images/IMG_2334.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2334.JPG">
    <title><![CDATA[IMG_2334]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2335.jpg"
	thumbURL="thumbs/IMG_2335.jpg"
	linkURL="images/IMG_2335.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2335.JPG">
    <title><![CDATA[IMG_2335]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2336.jpg"
	thumbURL="thumbs/IMG_2336.jpg"
	linkURL="images/IMG_2336.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2336.JPG">
    <title><![CDATA[IMG_2336]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_161714.jpg"
	thumbURL="thumbs/IMG_20160625_161714.jpg"
	linkURL="images/IMG_20160625_161714.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_161714.jpg">
    <title><![CDATA[IMG_20160625_161714]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_161756.jpg"
	thumbURL="thumbs/IMG_20160625_161756.jpg"
	linkURL="images/IMG_20160625_161756.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_161756.jpg">
    <title><![CDATA[IMG_20160625_161756]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_161814.jpg"
	thumbURL="thumbs/IMG_20160625_161814.jpg"
	linkURL="images/IMG_20160625_161814.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_161814.jpg">
    <title><![CDATA[IMG_20160625_161814]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_161942.jpg"
	thumbURL="thumbs/IMG_20160625_161942.jpg"
	linkURL="images/IMG_20160625_161942.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_161942.jpg">
    <title><![CDATA[IMG_20160625_161942]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_162009.jpg"
	thumbURL="thumbs/IMG_20160625_162009.jpg"
	linkURL="images/IMG_20160625_162009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_162009.jpg">
    <title><![CDATA[IMG_20160625_162009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_162022.jpg"
	thumbURL="thumbs/IMG_20160625_162022.jpg"
	linkURL="images/IMG_20160625_162022.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_162022.jpg">
    <title><![CDATA[IMG_20160625_162022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_162050.jpg"
	thumbURL="thumbs/IMG_20160625_162050.jpg"
	linkURL="images/IMG_20160625_162050.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_162050.jpg">
    <title><![CDATA[IMG_20160625_162050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20160625_163234.jpg"
	thumbURL="thumbs/IMG_20160625_163234.jpg"
	linkURL="images/IMG_20160625_163234.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_20160625_163234.jpg">
    <title><![CDATA[IMG_20160625_163234]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1221.jpeg"
	thumbURL="thumbs/IMG_1221.jpeg"
	linkURL="images/IMG_1221.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_1221.jpeg">
    <title><![CDATA[IMG_1221]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1222.jpeg"
	thumbURL="thumbs/IMG_1222.jpeg"
	linkURL="images/IMG_1222.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_1222.jpeg">
    <title><![CDATA[IMG_1222]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1225.jpeg"
	thumbURL="thumbs/IMG_1225.jpeg"
	linkURL="images/IMG_1225.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_1225.jpeg">
    <title><![CDATA[IMG_1225]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2326.jpg"
	thumbURL="thumbs/IMG_2326.jpg"
	linkURL="images/IMG_2326.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2326.JPG">
    <title><![CDATA[IMG_2326]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2327.jpg"
	thumbURL="thumbs/IMG_2327.jpg"
	linkURL="images/IMG_2327.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2016\IMG_2327.JPG">
    <title><![CDATA[IMG_2327]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>