<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Field Day 2018"

>
  <image imageURL="images/image013.jpg"
	thumbURL="thumbs/image013.jpg"
	linkURL="images/image013.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image013.jpg">
    <title><![CDATA[image013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image014.jpg"
	thumbURL="thumbs/image014.jpg"
	linkURL="images/image014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image014.jpg">
    <title><![CDATA[image014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image015.jpg"
	thumbURL="thumbs/image015.jpg"
	linkURL="images/image015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image015.jpg">
    <title><![CDATA[image015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image016.jpg"
	thumbURL="thumbs/image016.jpg"
	linkURL="images/image016.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image016.jpg">
    <title><![CDATA[image016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image017.jpg"
	thumbURL="thumbs/image017.jpg"
	linkURL="images/image017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image017.jpg">
    <title><![CDATA[image017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image018.jpg"
	thumbURL="thumbs/image018.jpg"
	linkURL="images/image018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image018.jpg">
    <title><![CDATA[image018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image019.jpg"
	thumbURL="thumbs/image019.jpg"
	linkURL="images/image019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image019.jpg">
    <title><![CDATA[image019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image020.jpg"
	thumbURL="thumbs/image020.jpg"
	linkURL="images/image020.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image020.jpg">
    <title><![CDATA[image020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image021.jpg"
	thumbURL="thumbs/image021.jpg"
	linkURL="images/image021.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image021.jpg">
    <title><![CDATA[image021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image022.jpg"
	thumbURL="thumbs/image022.jpg"
	linkURL="images/image022.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image022.jpg">
    <title><![CDATA[image022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image023.jpg"
	thumbURL="thumbs/image023.jpg"
	linkURL="images/image023.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image023.jpg">
    <title><![CDATA[image023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A01.jpg"
	thumbURL="thumbs/20180624A01.jpg"
	linkURL="images/20180624A01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A01.JPG">
    <title><![CDATA[20180624A01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A02.jpg"
	thumbURL="thumbs/20180624A02.jpg"
	linkURL="images/20180624A02.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A02.JPG">
    <title><![CDATA[20180624A02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A03.jpg"
	thumbURL="thumbs/20180624A03.jpg"
	linkURL="images/20180624A03.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A03.JPG">
    <title><![CDATA[20180624A03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A04.jpg"
	thumbURL="thumbs/20180624A04.jpg"
	linkURL="images/20180624A04.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A04.JPG">
    <title><![CDATA[20180624A04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A05.jpg"
	thumbURL="thumbs/20180624A05.jpg"
	linkURL="images/20180624A05.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A05.JPG">
    <title><![CDATA[20180624A05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A06.jpg"
	thumbURL="thumbs/20180624A06.jpg"
	linkURL="images/20180624A06.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A06.JPG">
    <title><![CDATA[20180624A06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A07.jpg"
	thumbURL="thumbs/20180624A07.jpg"
	linkURL="images/20180624A07.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A07.JPG">
    <title><![CDATA[20180624A07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A08.jpg"
	thumbURL="thumbs/20180624A08.jpg"
	linkURL="images/20180624A08.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A08.JPG">
    <title><![CDATA[20180624A08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A09.jpg"
	thumbURL="thumbs/20180624A09.jpg"
	linkURL="images/20180624A09.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A09.JPG">
    <title><![CDATA[20180624A09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A10.jpg"
	thumbURL="thumbs/20180624A10.jpg"
	linkURL="images/20180624A10.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A10.JPG">
    <title><![CDATA[20180624A10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A11.jpg"
	thumbURL="thumbs/20180624A11.jpg"
	linkURL="images/20180624A11.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A11.JPG">
    <title><![CDATA[20180624A11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A12.jpg"
	thumbURL="thumbs/20180624A12.jpg"
	linkURL="images/20180624A12.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A12.JPG">
    <title><![CDATA[20180624A12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20180624A13.jpg"
	thumbURL="thumbs/20180624A13.jpg"
	linkURL="images/20180624A13.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\20180624A13.JPG">
    <title><![CDATA[20180624A13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image001.jpg"
	thumbURL="thumbs/image001.jpg"
	linkURL="images/image001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image001.jpg">
    <title><![CDATA[image001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image002.jpg"
	thumbURL="thumbs/image002.jpg"
	linkURL="images/image002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image002.jpg">
    <title><![CDATA[image002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image003.jpg"
	thumbURL="thumbs/image003.jpg"
	linkURL="images/image003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image003.jpg">
    <title><![CDATA[image003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image004.jpg"
	thumbURL="thumbs/image004.jpg"
	linkURL="images/image004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image004.jpg">
    <title><![CDATA[image004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image005.jpg"
	thumbURL="thumbs/image005.jpg"
	linkURL="images/image005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image005.jpg">
    <title><![CDATA[image005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image006.jpg"
	thumbURL="thumbs/image006.jpg"
	linkURL="images/image006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image006.jpg">
    <title><![CDATA[image006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image007.jpg"
	thumbURL="thumbs/image007.jpg"
	linkURL="images/image007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image007.jpg">
    <title><![CDATA[image007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image008.jpg"
	thumbURL="thumbs/image008.jpg"
	linkURL="images/image008.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image008.jpg">
    <title><![CDATA[image008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image009.jpg"
	thumbURL="thumbs/image009.jpg"
	linkURL="images/image009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image009.jpg">
    <title><![CDATA[image009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image010.jpg"
	thumbURL="thumbs/image010.jpg"
	linkURL="images/image010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image010.jpg">
    <title><![CDATA[image010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image011.jpg"
	thumbURL="thumbs/image011.jpg"
	linkURL="images/image011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image011.jpg">
    <title><![CDATA[image011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/image012.jpg"
	thumbURL="thumbs/image012.jpg"
	linkURL="images/image012.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Field-Day-2018\image012.jpg">
    <title><![CDATA[image012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>