<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Hiller AIr Museum - 2005"

>
  <image imageURL="images/engine-block.jpg"
	thumbURL="thumbs/engine-block.jpg"
	linkURL="images/engine-block.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\engine-block.jpg">
    <title><![CDATA[engine-block]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine-block-2.jpg"
	thumbURL="thumbs/engine-block-2.jpg"
	linkURL="images/engine-block-2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\engine-block-2.jpg">
    <title><![CDATA[engine-block-2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frame.jpg"
	thumbURL="thumbs/frame.jpg"
	linkURL="images/frame.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\frame.jpg">
    <title><![CDATA[frame]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Helicopter-Simulator.jpg"
	thumbURL="thumbs/Helicopter-Simulator.jpg"
	linkURL="images/Helicopter-Simulator.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Helicopter-Simulator.jpg">
    <title><![CDATA[Helicopter-Simulator]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hiller-plane.jpg"
	thumbURL="thumbs/Hiller-plane.jpg"
	linkURL="images/Hiller-plane.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Hiller-plane.jpg">
    <title><![CDATA[Hiller-plane]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Link-trainer-Display.jpg"
	thumbURL="thumbs/Link-trainer-Display.jpg"
	linkURL="images/Link-trainer-Display.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Link-trainer-Display.jpg">
    <title><![CDATA[Link-trainer-Display]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Link-Trainer-Testing-Desk.jpg"
	thumbURL="thumbs/Link-Trainer-Testing-Desk.jpg"
	linkURL="images/Link-Trainer-Testing-Desk.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Link-Trainer-Testing-Desk.jpg">
    <title><![CDATA[Link-Trainer-Testing-Desk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/parts.jpg"
	thumbURL="thumbs/parts.jpg"
	linkURL="images/parts.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\parts.jpg">
    <title><![CDATA[parts]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/propeller.jpg"
	thumbURL="thumbs/propeller.jpg"
	linkURL="images/propeller.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\propeller.jpg">
    <title><![CDATA[propeller]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Ralph-explaning-trainer-fun.jpg"
	thumbURL="thumbs/Ralph-explaning-trainer-fun.jpg"
	linkURL="images/Ralph-explaning-trainer-fun.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Ralph-explaning-trainer-fun.jpg">
    <title><![CDATA[Ralph-explaning-trainer-fun]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Ralph-Frank-Roger-Tom-Resto.jpg"
	thumbURL="thumbs/Ralph-Frank-Roger-Tom-Resto.jpg"
	linkURL="images/Ralph-Frank-Roger-Tom-Resto.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Ralph-Frank-Roger-Tom-Resto.jpg">
    <title><![CDATA[Ralph-Frank-Roger-Tom-Resto]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/roger-ralph-dave.jpg"
	thumbURL="thumbs/roger-ralph-dave.jpg"
	linkURL="images/roger-ralph-dave.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\roger-ralph-dave.jpg">
    <title><![CDATA[roger-ralph-dave]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/spinning-blades.jpg"
	thumbURL="thumbs/spinning-blades.jpg"
	linkURL="images/spinning-blades.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\spinning-blades.jpg">
    <title><![CDATA[spinning-blades]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/spinning-engine.jpg"
	thumbURL="thumbs/spinning-engine.jpg"
	linkURL="images/spinning-engine.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\spinning-engine.jpg">
    <title><![CDATA[spinning-engine]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thing.jpg"
	thumbURL="thumbs/thing.jpg"
	linkURL="images/thing.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\thing.jpg">
    <title><![CDATA[thing]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian.jpg"
	thumbURL="thumbs/adrian.jpg"
	linkURL="images/adrian.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\adrian.jpg">
    <title><![CDATA[adrian]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian-daddy.jpg"
	thumbURL="thumbs/adrian-daddy.jpg"
	linkURL="images/adrian-daddy.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\adrian-daddy.jpg">
    <title><![CDATA[adrian-daddy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/adrian-frank.jpg"
	thumbURL="thumbs/adrian-frank.jpg"
	linkURL="images/adrian-frank.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\adrian-frank.jpg">
    <title><![CDATA[adrian-frank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/alexis-jody.jpg"
	thumbURL="thumbs/alexis-jody.jpg"
	linkURL="images/alexis-jody.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\alexis-jody.jpg">
    <title><![CDATA[alexis-jody]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Boeing-SST.jpg"
	thumbURL="thumbs/Boeing-SST.jpg"
	linkURL="images/Boeing-SST.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\Boeing-SST.jpg">
    <title><![CDATA[Boeing-SST]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/engine.jpg"
	thumbURL="thumbs/engine.jpg"
	linkURL="images/engine.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\pvatk\OneDrive\Documents\2019 Coastside ARC\02 Proposed Website\www.coastsidearc.org\gallery\var\juicebox\Special-Outings\Hiller-Air-Museum-2005\engine.jpg">
    <title><![CDATA[engine]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>